[2015-10-31 15:21] ruimalheiro opened #248 "Build the Windows Installer and the Windows GUI fully in Python using wxPython Phoenix"
I started playing around with wxPython and it seems to be a nice tool if you want to work with win32 API without having to go through all the trouble of that weird C/C++ design of win32 API.

I have built the following demo that mimics the KA Lite GUI (Tray menu) and it seems to work pretty well: [Demo] (https://github.com/ruimalheiro/wx-ka-lite-gui)

To try it out, just download the repo and run

[2015-10-31 19:43] benjaoming commented on #248
Hi @ruimalheiro!

We're making grounds in terms of using a Makefile for the build process and getting Bamboo to do everything for us, so I would think this is a great benefit if the whole Visual Studio packaging could be abandoned!! Great timing for this!!

You Windows people should definitely make the call for the graphics toolset for the Windows platform :) And having a Python-based toolset woul

[2015-11-02 19:26] MCGallaspy commented on #248
Hi @ruimalheiro. Thanks for your efforts. Will take a look at it this week!

[2015-11-02 19:27] MCGallaspy commented on #248
Feel free to pop into the hipchat dev room and let us know about your intentions as well!

[2015-11-02 20:05] #179 closed

[2015-11-02 23:52] ruimalheiro commented on #248
Hi @benjaoming and @MCGallaspy ! Have you tried the [DEMO](https://github.com/ruimalheiro/wx-ka-lite-gui)?

@benjaoming Thank you for your feedback. GTK3 looks great! Thanks for sharing. Something we can explore for sure if there is good support for windows.

@MCGallaspy Looking forward for your feedback! My idea is to discontinue the C/C++ version of the GUI and the use of Inno Compiler. Building

[2015-11-03 01:01] cpauya commented on #240
Fixed in #244.

[2015-11-03 01:01] #240 closed

[2015-11-03 01:07] cpauya commented on #197
FIxed in #229.

[2015-11-03 01:07] #197 closed

[2015-11-03 02:45] cpauya commented on #207
Fixed in #241.

[2015-11-03 02:45] #207 closed

[2015-11-03 11:02] cpauya commented on #144
Fixed in #245.

[2015-11-03 11:02] #144 closed

[2015-11-03 19:16] EdDixon opened #249 "0.13.x fails to install on Ubuntu 14 LTS"
Not sure why 0.13.x fails to install on current Ubuntu 14 LTSbut the error after running ./setup_unix.sh is;

[code]

[2015-11-03 19:49] MCGallaspy commented on #249
Use the latest version.

[2015-11-03 19:49] #249 closed

[2015-11-03 21:17] EdDixon opened #251 "Removing video content should also provide progress bars"
While removing videos from an installation (for a language change for example) it is very time consuming and there are no progress bars to let the user know the process is still underway.

[2015-11-05 06:21] djallado opened #255 "Put KA-Lite version at the right side of KA-Lite logo."
**Branch:** `Develop`

**Expected Behavior:** Must have a version in `KA-Lite Preferences` dialog.

**Current Behavior:** No `KA-Lite` version in `KA-Lite Preferences` dialog.

**Steps to reproduce:**

1. Launch `KA-Lite` app from the `Applications` folder.
2. Click `Preferences...` in menu bar.
3. A `KA-Lite Preferences` dialog will appear.
![screen shot 2015-11-05 at 1 53 21 pm](https://cloud.gi

[2015-11-06 02:47] cpauya opened #258 "Assessment.zip on OS X source is invalid."
**Branch** Develop

**Target** 0.16.x

**Current Behaviour** The current `assessment.zip` is just an .html file renamed as .zip.

**Expected Behaviour** It must be a valid .zip file with a "notes" file inside.

This may be a remnant of the PR #243.

/cc: @djallado

[2015-11-06 10:57] cpauya commented on #246
Fixed in #257.

[2015-11-06 10:57] #246 closed

[2015-11-06 10:57] cpauya commented on #258
Fixed in #259.

[2015-11-06 10:57] #258 closed

[2015-11-06 20:03] MCGallaspy commented on #248
Hi @ruimalheiro. I like your idea, but a few comments:

We're trying to maintain high standards for code that we include in our official repos. Though our standards are not totally concrete right now, at a minimum we'd like code to be well-planned, well-tested, and well-commented. **The best way to achieve this is to actively engage with the dev team through the entire dev process with some combin

[2015-11-06 20:06] MCGallaspy commented on #248
It's also not clear to me that this will replace InnoSetup -- in a addition to distributing the tasktray program, we use IS to distribute a python interpreter and handle some upgrade tasks. Does this project propose to replace those elements of the IS program as well?

[2015-11-07 00:13] ruimalheiro commented on #248
Hi @MCGallaspy . This is just an idea.

The purpose of this topic was simply to expose the possibility of writing both the installer and the GUI fully in python, using wxPython.

"It's also not clear to me that this will replace InnoSetup "
- We can design and develop the installer, replacing the need to use Inno. wxPython offers all the widgets that we may need.

The demo is the GUI only.

[2015-11-07 01:02] cpauya commented on #251
Hi @EdDixon - I haven't tried to use multi-language checks (especially videos too) for an install yet so this is interesting.  Some questions for you:

1. Did you remove the videos inside the ka-lite web app, using one of the installers, or manually in a file system of the OS?
2. Which OS did you use for this?

If in case you used the ka-lite web app for this, maybe we should file this on the ka-l

[2015-11-07 01:25] MCGallaspy commented on #248
It's premature to ask whether we should use a particular library or not prior to determining the goals and design of the project. Do you want to replace the whole windows installer? Then let's think up a fully-conceived specification first, instead of creating something ad-hoc. I won't agree to use wxPython or *any* library prior to that.

That said, right now creating a new windows installer is n

[2015-11-07 12:06] ruimalheiro commented on #248
Hi @MCGallaspy

Yeah, I see what you mean and you are right. Well, I'll have to make room for some time and discuss that with you all to explain my goal with this.

In the meantime, you are doing a great job maintaining the current INNO / C++ and that is also great.

Thank you for the feedback!

[2015-11-07 13:07] benjaoming commented on #248
I very much agree with both @ruimalheiro's innitiative and @MCGallaspy 's precaution -- it would be great to have the build process made as simple (unified) as possible. The long-term goal should be to have a very solid KA Lite that won't take resources from Kolibri development, but can still be improved and maintained either by FLE or the community! If either of these don't have to bother much wi

[2015-11-07 13:10] benjaoming commented on #248
Also; I've detached ka-lite-gtk from ka-lite to have freedom from the heavy Debian packages and to be able to maintain it outside of the KA Lite release cycle. This could also be a good way to get a wxPython up and running, released, and tested quickly once the Windows installer starts installing ka-lite through setuptools.

[2015-11-07 13:46] jamalex commented on #248
Yeah, since we can't rely on Python being preinstalled, I would see this
working best for the launcher GUI, rather than the installer itself.
Luckily, Inno builds fine in Wine; it's the VS launcher GUI that's more
complicated to build, so this could be a good match.

Also, worth noting that we should be able to reuse a substantial portion of
the code for the installers for Kolibri.
On Nov 7, 2015

[2015-11-09 03:38] arceduardvincent opened #264 "OS X Installer changes"
**Branch**  `Develop`

**Target** `feature/osx-0.16.x`

**Current Behavior**
During the first run, the .app copy `bin/kalite` executable to `/usr/bin/kalite` which will ask the password.

**Expected Behavior**
The installer should prepare the`kalite` executable and environment variables not the .app.
During the first run, the user should not be prompted anymore for the password because we already

[2015-11-09 06:41] cpauya commented on #255
Fixed in #261

[2015-11-09 06:41] #255 closed

[2015-11-10 15:46] ruimalheiro commented on #248
Yeah, I think that is a good point. Building the GUI in Python would be a great help. The demo is basically a KA Lite GUI.

By using this, we won't need to pack a compiled GUI and it will be built automatically, when the installer is built.

wxPython is cross-platform but I don't know if the tray icon is supported under osx and linux. If I'm not mistaken, there is already some work in a GUI for OS

[2015-11-11 06:19] djallado opened #265 "Add README.md and assessment.zip into .gitignore."
**Branch:** `Develop`

**Expected Behavior:** Ignore `/pyrun/README.md` and `/pyrun/assessment.zip`.

**Current Behavior:** `/pyrun/README.md` and `/pyrun/assessment.zip` are not ignored.

**Steps to reproduce:**

1. Clone from `Installers` repository.
2. Checkout `develop` branch.
3. Run `setup.sh` in `osx` directory.
4. After `setup.sh` is done, run `git status` in the terminal.
5. Observed that

[2015-11-11 22:53] cpauya commented on #248
Yes @ruimalheiro, we've been maintaining the GUI for OS X since [v0.14.x](http://ka-lite.readthedocs.org/en/0.14.x/installguide/install_all.html#mac-osx).  We haven't tried testing wxPython on OS X yet, so hope to get our hands on it later too.

[2015-11-12 02:27] amodia opened #266 "OS X Application changes"
**Branch:** `develop` (os x installers)

Since we are offloading some functionalities to the installer, the .app must be changed for such.

REF: [OS X Installer changes](https://trello.com/c/YrrNklzn/85-os-x-installer-changes)

Since we allow the customization of paths for KA-Lite (database, contents, etc), the .app must also be updated to set the environment variables.

- [x] remove pyrun-2.7
- [

[2015-11-13 07:31] amodia opened #269 "Make a "reset.sh" script."
**Branch:** `Feature` (osx-0.16.x os x installers)

This is the equivalent of the "Reset App" button of the .app.

- [x] delete the symlinked /usr/bin/kalite or /usr/local/bin/kalite
- [x] delete the /Library/LaunchAgents/org.learningequality.kalite.plist
- [x] Remove the KALITE_PYTHON env var

[2015-11-16 16:45] aronasorman opened #271 "Update the debian installer for systemd"
Looks like Raspbian recently switched to `systemd` -- now we have a too early of a timeout for the Raspberry Pi 1. Ubuntu is also slated to switch to systemd soon, so with these two issues I think we should migrate to a systemd script.

@MCGallaspy this is the issue we were debugging.

[2015-11-16 16:45] aronasorman commented on #271
I doubt I'll get to this early this week, so I'm assigning @benjaoming for now.

[2015-11-16 18:42] MCGallaspy commented on #271
We'll also need a manual workaround. See https://github.com/learningequality/ka-lite/issues/4664#issuecomment-156631710.

[2015-11-17 02:59] jamalex opened #272 "OSX installer - suboptimal user experience (and not working?)"
Had a guest to the offices today excited to try out KA Lite, who downloaded the OSX installer and installed. There were numerous issues, ranging from "annoying" to "confusing" to "it didn't work at all". We were never successful in getting it up and running. I'll list a few things here, but it seems like what we need is a serious UX (and testing) sprint on the OSX installer/monitor, as it's curren

[2015-11-17 07:04] amodia opened #273 "Use kalite executable when running commands in NSTASK class."
**Branch:** `feature/osx-o.16.x` (osx installer)

**Current Behaviour:** NSTASK class used `pyrun` when running ka-lite commands.

**Expected Behaviour:** NSTASK class must use `kalite` executable when running ka-lite commands.

REF: https://github.com/learningequality/installers/pull/268#discussion-diff-44636929

[2015-11-17 12:11] cpauya commented on #272
Hi @jamalex,

So sorry to hear that the OSX app did not work with your guest, I assume it was v0.15.x?

With those issues, it's most likely that an error has occurred in the .app (or ka-lite) thus it did not work as expected, these may be visible in the `Logs` tab.

Some answers to your queries:

1. We have already removed the "monitor" on the `develop` branch (for 0.16.x release).
2. The .app hav

[2015-11-17 12:13] cpauya commented on #269
Fixed in #270.

[2015-11-17 12:13] #269 closed

[2015-11-17 16:55] benjaoming opened #275 "debconf input prompted twice or more in 0.15.0-ubuntu3"
Currently, installing with `dpkg -i` and `apt-get install` is behaving differently:

On Debian Jessie, I am asked once with `dpkg -i file.deb` but twice with `apt-get install ka-lite`.

@EdDixon reports to be asked several times even when using `dpkg -i`.

[2015-11-18 06:43] amodia opened #276 "OS X Application UX changes."
**Branch:** `feature/osx-o.16.x` (osx installer)

- [x] remove the 'Setup' button
- [x] remove the spinner icon on the logo
- [x] remove the 'Advanced' tab
- [x] use 'kalite --version' to make the ka-lite version dynam

[2015-11-19 10:10] amodia opened #279 "Implement custom paths in preferences window."
**Branch:** `feature/osx-o.16.x` (osx installer)

- [x] User data path with settings.KALITE_HOME
- [x] Content path with settings.CONTENT_ROOT
- [x] Database path with settings.DEFAULT_DATABASE_PATH

[2015-11-19 21:53] radinamatic commented on #275
Ubuntu 15.04, got asked twice while installing with `dpkg -i file.deb`. Will retest with `apt-get install` and get back.

[2015-11-19 22:48] benjaoming commented on #275
@radinamatic yup, it's already confirmed :)

[2015-11-19 23:13] EdDixon commented on #275
The expereince is different between the PPA questions and the dpkg
questions but both are basiclly asking which account to use multiple times
in the case of dpkg just twice? Not sure why wehaven't made an issue for
this in installers but if we should just let me know?

Ed Dixon
Corrections Adviser
Foundation for Learning Equality <http://learningequality.org/>
Give to FLE, Support FLE via Amazon S

[2015-11-21 00:45] benjaoming commented on #275
This *is* the issue? :)

[2015-11-21 01:06] EdDixon commented on #275
LOL indeed, I was replying in the email thread without realizing where they were coming from, good to know! In the case of a dpkg -i install it is not a huge problem provided the installer uses the same account both times. I am not sure of what the consequences could be of using  a different account when asked the second time (during the test here stuck with the defaults) but, in the case of the P

[2015-11-25 18:07] cpauya commented on #208
**Update**

I have tested that symlinking the `kalite` executable to `/usr/local/bin/kalite` will make the OS X .app work on OS X El Capitan.

However, video and language pack downloads doesn't work because `/usr/local/bin` is not included in the `PATH` environment variable of cron as per http://superuser.com/questions/164394/how-to-set-cron-path-globally-i-e-for-all-users-permanently.  The `PATH`

[2015-11-25 18:23] djallado opened #282 "plist files are not deleted during the upgrade to 0.16.x."
**Branch:**  `develop`

**Expected Behavior:** During upgrade, the installer will remove the `org.learningequality.kalite.plist` in root `/Library/Launchagents/`.

**Current Behavior:**  Root `/Library/LaunchAgents/` still contains `org.learningequality.kalite.plist` during the upgrade.

**Steps to reproduce:**
1. Use fresh install `Yosemite` in virtual machine.
2. Install `0.15.0.dmg`.
3. Launch

[2015-11-26 03:35] cpauya commented on #276
Fixed in #277

[2015-11-26 03:35] #276 closed

[2015-11-26 03:37] cpauya commented on #264
@arceduardvincent Do you have updates on this issue?  Can you change the text accordingly?

[2015-11-26 03:39] arceduardvincent commented on #264
Yes, I will update the upgrade path checklist when this #283 is merge then we can declare this issue is done.

[2015-11-30 01:32] cpauya commented on #214
This is related to #208.  A fix has been released for v0.16.x on #284.

[2015-12-01 00:07] benjaoming commented on #146
Notice now how ka-lite-gtk appears now in Software Center - @jamalex might be of interest to you too

![screenshot from 2015-12-01 01 05 54](https://cloud.githubusercontent.com/assets/374612/11488556/cf15a6ba-97c7-11e5-9161-e56c52600eee.png)

[2015-12-01 00:09] benjaoming commented on #146
Also, this dialogue now appears -- feature or bug? @jamalex @aronasorman

I would consider it a potential feature and since it's pre-filled, users can just skip it...

![screenshot from 2015-12-01 01 08 20](https://cloud.githubusercontent.com/assets/374612/11488592/156d98de-97c8-11e5-88f5-da8972697b6a.png)

[2015-12-01 00:12] radinamatic commented on #146
Wasn't `ka-lite-gtk` option available for a while? If I remember well, since sometime this last summer?

[2015-12-01 00:14] benjaoming commented on #146
@radinamatic no afaik the way it's displayed now is a result of:

1) ka-lite-gtk is available in the ka-lite PPA
2) ka-lite-gtk is a "suggests" not a "recommends", so before it was silently installed automatically when installing from the ppa

[2015-12-01 00:19] radinamatic commented on #146
I don't know the exact difference between "suggests" and "recommends", but I'd swear it was there at some point during my testing, and in USC it did not install unless expressly checked... I'll see if I can maybe dig some old screenshots.

[2015-12-01 00:19] benjaoming opened #286 "Make debian test on Travis use a local test repository"
`dpkg -i` does not reflect `apt-get install` exactly enough.

Since test_build.sh now creates a custom repo with dpkg-scanpackages, we should be able to add it using `before_install`

https://docs.travis-ci.com/user/installing-dependencies/#Installing-Packages-from-a-custom-APT-repository

[2015-12-01 03:28] cpauya commented on #266
Fixed in #268.

[2015-12-01 03:28] #266 closed

[2015-12-01 03:29] cpauya commented on #279
Fixed in #281.

[2015-12-01 03:29] #279 closed

[2015-12-01 03:29] cpauya commented on #273
Fixed in #274.

[2015-12-01 03:29] #273 closed

[2015-12-01 03:31] cpauya commented on #265
We're no longer including the `pyrun` and `assessment.zip` in the .app itself, see #266.

Won't fix this.

[2015-12-01 03:31] #265 closed

[2015-12-01 03:34] cpauya commented on #264
We will work on the upgrade path in another issue.  The rest are fixed in #278.

[2015-12-01 03:34] #264 closed

[2015-12-01 03:37] cpauya commented on #242
This is fixed in #278.

[2015-12-01 03:37] #242 closed

[2015-12-01 03:41] cpauya commented on #238
Fixed in #277.

[2015-12-01 03:41] #238 closed

[2015-12-01 03:53] cpauya commented on #224
Fixed in #278.

[2015-12-01 03:53] #224 closed

[2015-12-01 03:56] cpauya commented on #225
Already fixed in `develop` branch.

[2015-12-01 03:56] #225 closed

[2015-12-01 04:00] cpauya commented on #282
@djallado I changed the title to "plist files..." because we are actually checking for possible multiple instances of a .plist that could affect our installer/app:

1. /Library/LaunchAgents/org.learningequality.kalite.plist
2. ~/Library/LaunchAgents/org.learningequality.kalite.plist

So during your tests, if these are already deleted by the installer, please comment here so we can close this.

[2015-12-01 04:05] cpauya commented on #139
This issue has been fixed in #277.  We now remove creation of admin account from within the .app.

[2015-12-01 04:05] #139 closed

[2015-12-01 10:30] amodia opened #288 "Implement auto start on login."
**Branch:** `develop` (os x installers)

**Expected behavior:** `KA Lite` application must  auto start if the user check the "Auto start on login" checkbox in KA Lite preferences dialog.

[2015-12-01 19:51] EdDixon commented on #146
@radinamatic in previous builds it was packaged in the deb bundle (unintentionally I think) along with the R-Pi build but @benjaoming has since resolved that issue. However I am still expereincing installation failures when installing by simply double clicking the deb package opening it in USC as before.

I want to add that multiple attempts at installing using that method on the latest 0.15-ubunt

[2015-12-01 23:29] benjaoming commented on #146
@EdDixon

No, it was never bundled. It was in the same PPA, and "Recommends" makes it install as a dependency if its available. "Suggests" is different in that it will only show a message to the user.

@EdDixon

Probably has to do with libgtk2-perl, see earlier posts. Stuff still breaks when installing in USC and this library isn't present. This is probably not going to go away, hence there's a ta

[2015-12-02 03:32] amodia opened #290 "Fix develop branch merge error"
**Branch:** `develop (os x installers)

- [x] use /Library/LaunchAgents/ as .plist destination
- [x] use /usr/local/bin/ as kalite executable destination

[2015-12-02 11:48] EdDixon commented on #146
@benjaoming just to clarify what I mean by "bundled" is that all 3 were being installed to the Debian system previously using "dpkg -i" without PPA. I have a screen shot here somewhere that clearly shows that happening but I know it has since been fixed. So that is no longer an issue anyway, just that I think that maybe what @radina is referring too when after installation she would have the gtk g

[2015-12-02 11:58] benjaoming commented on #146
@EdDixon

That was never the case. `dpkg -i` installs no dependencies, which is core of why we test both `dpkg -i` and `apt-get install`.

I think we should dedicate comments on issues to the specific topic: Ubuntu Software Center.

Sorry, but did I mis-communicate something? This is exactly why I was showing the former screenshot and explaining the difference between Suggests and Recommends that

[2015-12-02 12:06] EdDixon commented on #146
@benjaoming I guess I am missing somthing here and we should then, after the standup is fine. In the meantime I will try to find those screenshots. I have been thinking that my pointing out that problem back then (and I am not sure how long ago it was) lead to the changes that seperated them into the packages they are now? I guess not LOL so sure lets take a closer look. It would be great if we ca

[2015-12-02 12:06] benjaoming commented on #146
Btw the Launchpad bug about missing libgtk2-perl has been accepted in Ubuntu 100 Papercuts, and so the fix might actually be released for old supported Ubuntu dists like Trusty.

[2015-12-02 12:50] cpauya commented on #290
Good call.  Fixed in #292.

[2015-12-02 12:50] #290 closed

[2015-12-02 18:00] benjaoming commented on #146
It seams that Ubuntu Software Center doesn't provide an env from which to tell the current user:

[code]

On the other hand, we can rely on the `users` command to tell us who's logged in:

    benjamin benjamin benjamin benjamin

[2015-12-02 18:00] benjaoming commented on #146
There we go :)

![screenshot from 2015-12-02 19 00 28](https://cloud.githubusercontent.com/assets/374612/11539376/ff092bca-9926-11e5-8aec-7b780c95867b.png)

[2015-12-02 19:18] benjaoming commented on #146
Docs fix is now up!

http://ka-lite.readthedocs.org/en/0.15.x/installguide/install_all.html#linux

Closing this, and then if the Launchpad bug is fixed, we can make amends.

[2015-12-02 19:18] #146 closed

[2015-12-02 20:59] EdDixon opened #296 "Windows Installer python version check foiled if Python 3 is also installed"
On Windows 10 and without the python 2.7.10 path set in the windows but with python 2.7.10 installed, an installation of 0.15.1 will error with the following error messages should the user choose to answer no knowing python is installed just not in path. The default option for the 2.7.10 python installer is not to add itself to the path string but it is optional to include that. Additionally KA-Li

[2015-12-02 21:02] MCGallaspy commented on #296
Did you verify as you claim that having python in the path does not cause
this issue?
On Dec 2, 2015 12:59 PM, "Ed Dixon" <notifications@github.com> wrote:

[2015-12-02 23:50] EdDixon commented on #296
No I have not as that would take time and as I understand it this is for eminent release without much testing planned, however another potential bug has now appeared. During replication of it I will add the python path to the path string here during this test going on now to verify that both replicate. (I hope not)

[2015-12-03 00:18] EdDixon commented on #296
@MCGallaspy verifying now that with python in the environment path this is in deed not an issue as I have claimed.

[2015-12-03 01:07] EdDixon opened #297 "Windows upgrade from 0.15.0 to 0.15.1 removes account data"
While testing the 0.15.1 installer and upgrade process from 0.15.0 I encountered on metal and replicated in VM that all accounts are lost including the admin account during an upgrade from a previous 0.15.0 install. This occurred on Windows 10 and has only been replicated in that environment so far. I have not looked at the contents of the remaining SQLite file to see if just the accounts are remo

[2015-12-03 03:35] MCGallaspy commented on #297
Confirmed, let me try to figure out the cause.

[2015-12-03 04:08] MCGallaspy commented on #297
Found the issue: https://github.com/learningequality/installers/blob/0.15.x/windows/installer-source/KaliteSetupScript.iss#L417

Data gets trampled under some circumstances. Solution is to only copy database file if one doesn't exist. Will submit patch for 0.15.x branch of installers, then release a fixed 0.15.1 installer. However on `develop` in the ka-lite repo, this is made redundant by https:/

[2015-12-03 15:41] djallado commented on #288
@amodia I tested your PR and the auto login works in my local, but when I click `Start KA Lite` in menu option, I got an error in `KA-Lite Preferences Logs.
Here's the screenshot:
![screen shot 2015-12-03 at 11 24 26 pm](https://cloud.githubusercontent.com/assets/8664071/11564860/60303232-9a16-11e5-9086-e9479f82dab1.png)

But when I quit the app and `Start KA Lite` again then it works properly.

[2015-12-03 18:57] benjaoming commented on #212
Sorry, there's a lot of content here. But the title of the Issue was fixed in #146

[2015-12-03 18:57] #212 closed

[2015-12-03 21:08] EdDixon opened #298 "Linux 15.1 errors on language pack download"
On Ubuntu 14 LTS testing the recent 15.1 installations (not upgrade) the following error is encountered when trying to update or install language packs both through UI and manually using the kalite command. Replicated by @aronasorman
![2015-12-03_13-15-28](https://cloud.githubusercontent.com/assets/4349806/11574110/e30e8028-99c6-11e5-894a-ce1a340b36e1.png)

[code]

[2015-12-03 21:13] aronasorman commented on #298
Not just a problem on Linux. It's in the Mac as well.

On Thu, Dec 3, 2015 at 1:08 PM, Ed Dixon <notifications@github.com> wrote:

[2015-12-03 21:44] EdDixon commented on #298
Good to know I created a seperate issue with other problems discovered working with the language packs that I suspected where main repo related and referenced this there or at least tried to please make sure I did that right or move this to the repo as needed. Thanks,
https://github.com/learningequality/ka-lite/issues/4727

[2015-12-04 04:36] EdDixon commented on #298
Just verified this also exists on the recent Windows and MAC, 0.15.1 builds as well so moving screen shots and the traceback to the main repo issue and closing here. Please address the issue in the main repo.
https://github.com/learningequality/ka-lite/issues/4727
Thanks,

[2015-12-04 04:36] #298 closed

[2015-12-04 07:38] amodia opened #301 "Help text for the custom data path control."
**Branch:** `develop` (os x installers)
**Expected behavior:** Create help text for KA Lite custom data path control at KA Lite preferences dialog.

[2015-12-04 16:42] benjaoming opened #304 "Respect previous debconf during upgrade"
@EdDixon

There should be a way to avoid setting new default values when upgrading and instead retain previous values.

This possibly also affects users having predefined debconf for unattended installation.

[2015-12-04 19:19] benjaoming opened #305 "Nginx setting for user home's .kalite folder is not set"
If not using ka-lite user, kalite will run with /home/user/.kalite and this needs to be defined in /etc/ka-lite/nginx.d/blah.conf

The consequence is that static files, videos etc. won't show.

[2015-12-04 19:50] MCGallaspy commented on #305
You mean, if the user runs ka-lite as a *different* user than the one specified at install time (using the deb file)? For instance, if I install on the RPi and choose `pi` as the user at that time, do I need to do anything special? Or should I have specified a *different* user still to be the ka-lite useR?

[2015-12-04 20:05] benjaoming commented on #305
It's related to what the user puts during the installation when prompted by debconf:

![username](https://cloud.githubusercontent.com/assets/374612/11600071/b371c334-9aca-11e5-9cb1-f09c0e82c997.png)

[2015-12-04 20:29] MCGallaspy commented on #305
So you're saying it's an issue when I run as a different user than what I specified in that command prompt?

[2015-12-04 23:58] MCGallaspy opened #306 "KA Lite 0.15.0 deletes my ~/.kalite directory on startup"
On the raspberry pi, there is an initscript `/etc/init.d/pp-kalite-clean` that runs the command `rm -rf /home/pi/.kalite` on startup, with the message "Cleaning up KA-Lite lock files". I think this is not the intended behavior. I can't figure out how this script is created. Any pointers @benjaoming?

[2015-12-05 00:06] MCGallaspy commented on #306
May have been added by a 3rd party on the rachel-pi image I'm looking at.

[2015-12-05 00:30] MCGallaspy commented on #306
it's a 3rd party script: https://github.com/learningequality/ka-lite/issues/4664#issuecomment-162114401

[2015-12-05 00:30] #306 closed

[2015-12-05 01:04] MCGallaspy commented on #296
Do you also have python 3 installed?

[2015-12-05 07:54] EdDixon commented on #296
Python 3 is installed on this live development machine along with 2.7.10 from the previous KA Lite installation of version 0.15.0 which I was upgrading and is apparently a factor leading to the error. In a clean WIndows 10 VM upgrade test and with no other versions of Python installed, I am not prompted to rerun the python installer while only python 2.7.10 is installed from the previous 15.0 inst

[2015-12-05 17:45] benjaoming commented on #305
Yes, if you don't put `ka-lite` as the username, it will fail to serve static media.

If you want it to work for a different user, you need to put something in `/etc/ka-lite/nginx.d/myprecious.conf` - like so:

    set $kalite_home /home/myuser/.kalite;

This line is included in the nginx config in `/etc/nginx/sites-available/kalite.conf`.

[2015-12-05 23:21] benjaoming commented on #305
c4ec18d

[2015-12-06 11:34] benjaoming commented on #305
Fixed in #295, verified that it works

[2015-12-06 11:34] #305 closed

[2015-12-06 11:35] benjaoming commented on #305
Also, the 0.15.1-ubuntu2 with the fix is in https://launchpad.net/~learningequality/+archive/ubuntu/ka-lite-proposed/+packages

[2015-12-07 11:05] djallado opened #307 "Downloaded 0 of 1 videos successfully."
**Branch:** `Develop`

**Expected Behavior:** Give exact success message after a video download.

**Current Behavior:** There's a message "Downloaded 0 of 1 videos successfully." after a video download.

**Steps to reproduce:**

Using El Capitan in VM

 1. Install `KA-Lite.pkg`.
 2. Launch `KA-Lite.app` from the `Applications` folder.
 3. Click on `Start KA Lite` from menu option.
 4. Click `Open

[2015-12-07 13:03] djallado opened #308 "Topic tree items are greyed-out during first install."
**Branch:** `Develop`

**Expected Behavior:** Assessment items will work after the installation.

**Current Behavior:** `Learn` tab is greyed during first install.

**Steps to reproduce:**

 1. Install `KA-Lite.pkg`.
 2. Launch `KA-Lite.app` from the `Applications` folder.
 3. Click on `Start KA Lite` from menu option.
 4. Click `Open in Browser` from menu option when ready.
 5. Click on `Learn` t

[2015-12-07 13:39] cpauya commented on #307
I'm not sure if this happens only under VirtualBox.  @djallado Can you also using the `ka-lite` repo later?  Maybe we need to file this there instead of here.

[2015-12-07 13:44] cpauya commented on #308
@djallado Maybe we should title this "Topic tree items are greyed-out during first install?"

[2015-12-07 15:23] djallado commented on #307
@cpauya & @aronasorman, I tested this using El Capitan in actual machine, video download is working.
![screen shot el cap final](https://cloud.githubusercontent.com/assets/8664071/11630684/7c4732ec-9d39-11e5-803b-5f067f011c4c.png)

[2015-12-07 23:03] MCGallaspy commented on #296
That's also my observation.

I think that's the real issue here.

[2015-12-07 23:44] MCGallaspy commented on #296
I tried installing Python 2.7 followed by Python 3.5 on Windows 7. I wasn't able to replicate this issue. However, all signs point to python 3 being installed as foiling the version check done by the installer.

[2015-12-08 00:08] benjaoming opened #310 "Init script robustness: Delete startup lock before starting up"
See https://github.com/learningequality/ka-lite/issues/4738

[2015-12-08 00:11] benjaoming commented on #310
Except well, maybe it's a bad idea. Example:

[code]

If the init script removes the startup lock it's gonna get messy.

[2015-12-08 00:22] jamalex commented on #310
Can you clarify? The init cleanup script would be (or could be set to be) run before the ka-lite service ever has a chance to run, no?

[2015-12-08 00:23] jamalex commented on #310
And since it only happens at boot, we know that KA Lite must not already be running, so the lock file must be stale?

[2015-12-08 00:24] jamalex commented on #310
Ah, but this issue was proposing something different.

[2015-12-08 00:38] benjaoming commented on #310
I don't think having a cleanup init script is the way to go... you'd have to also make it run before the other service. This behavior is ill-defined and prompts us to use upstart or system.d AFAIK.

But so I think it's complicated because of this:

We have a startup lock, because essentially we want to exclude another `kalite start` from running while we doing `initialize_kalite`. In case, there's

[2015-12-08 01:12] cpauya commented on #307
Maybe it's the network setting of your VM?  Are you using Bridged-mode?

[2015-12-08 02:01] #186 closed

[2015-12-08 02:01] MCGallaspy commented on #186
Stale.

[2015-12-08 02:07] #297 closed

[2015-12-08 02:08] MCGallaspy commented on #80
Now done in the KA Lite. See https://github.com/learningequality/ka-lite/pull/4656. Empty db included if it exists, which it does if you build a distributable using our handy-dandy makefile.

[2015-12-08 02:08] #80 closed

[2015-12-08 02:24] jamalex commented on #310
Would there be issues with doing so? We know KA Lite doesn't get started until networking is enabled, but since all we're doing here is deleting a file, couldn't it be at an earlier runlevel?

On the Pi in particular, and especially in the Rachel Pi use case (plug-and-play wifi hotspot), it's much more important that KA Lite always start reliably (since the user likely doesn't have shell access/sk

[2015-12-08 02:52] cpauya commented on #301
@amodia Let's fix the alignment and text issues then we can close this.

![6b730ee6-9d0c-11e5-99c8-3bdc03bd92fd](https://cloud.githubusercontent.com/assets/175580/11646505/b16c91e6-9d99-11e5-8aef-ccc67cf50299.png)

[2015-12-08 04:10] djallado commented on #307
@cpauya I tested it using NAT-mode in my VM and video download is working.

**Here's the screenshots:**

![screen shot 2015-12-08 at 11 28 38 am](https://cloud.githubusercontent.com/assets/8664071/11647553/3d7d53d2-9da4-11e5-98cb-36b9aa20f211.png)
This is my network setting.

![screen shot 2015-12-08 at 11 03 04 am](https://cloud.githubusercontent.com/assets/8664071/11647557/4d1286aa-9da4-11e5-9a3

[2015-12-08 09:11] benjaoming commented on #310
That's runlevel 3. But inside that runlevel, I don't know.

Yes, there's another issue about supporting system.d: #271

But I don't think we should have 2 init scripts as things are now... especially not if we factor out into several different init standards.

[2015-12-08 10:08] cpauya commented on #301
Fixed in #311

[2015-12-08 10:08] #301 closed

[2015-12-08 16:27] jamalex commented on #310
Ok, sounds good -- looks like you have a temp solution for them, and then let's leave a general solution until we support system.d

[2015-12-08 16:27] #310 closed

[2015-12-08 20:30] #275 closed

[2015-12-08 20:31] benjaoming commented on #228
Done

[2015-12-08 20:31] #228 closed

[2015-12-08 20:31] #221 closed

[2015-12-08 20:31] benjaoming commented on #191
Done

[2015-12-08 20:31] #191 closed

[2015-12-08 20:38] benjaoming commented on #227
This should work now. During debconf, the following happens:

[code]

Then later during the download, the existing folders will be removed:

[code]

So regardless of whether it's an upgrade or a fresh install, the user can define the download location and even specify a local file source.

[2015-12-08 20:38] #227 closed

[2015-12-08 20:40] benjaoming commented on #201
I guess the docs update puts us at a state where it's okay to retarget the issue to 0.16? @cpauya

[2015-12-08 20:41] benjaoming commented on #271
No solution is coming for 0.15.1, anybody wanna block the release? @aronasorman ?

[2015-12-08 20:44] aronasorman commented on #201
Yup. Availability stamping is now 'global' (done in a DB instead of a global variable). Should be solved in 0.16. Leaving this open so we can test it.

[2015-12-08 20:48] aronasorman commented on #271
Nah, no time for me. 0.16.
On Dec 8, 2015 12:41 PM, "benjaoming" <notifications@github.com> wrote:

[2015-12-08 21:14] benjaoming commented on #80
Just to clarify: This won't happen until 0.16, right? At least, that's how it is for the .debs where it's the ka-lite source dist that's responsible for this....

[2015-12-08 21:17] MCGallaspy commented on #80
Right.

[2015-12-09 01:19] cpauya commented on #307
Hey this is good @djallado!  Can you close this issue now?

[2015-12-09 01:20] cpauya commented on #308
Probably related to #201.

[2015-12-09 01:40] djallado commented on #307
The resolution for using the `El Capitan` on VM (Virtual Machine) is to set the network to `NAT` like in the screenshot above.

[2015-12-09 01:41] #307 closed

[2015-12-09 01:47] cpauya commented on #239
Fixed in #309.

[2015-12-09 01:47] #239 closed

[2015-12-09 01:49] cpauya commented on #208
This is now fixed on latest `develop` branch.

Release for 0.16.x will have support for El Capitan.

@EdDixon I think we can close this now?

[2015-12-09 01:53] cpauya commented on #214
We don't officially support El Capitan for releases 0.15.x or below.  The work-around is to disable SIP, see https://github.com/learningequality/installers/issues/208#issuecomment-145639950.

We can make a hotfix to support El Capitan on previous releases if that's important, @aronasorman any thoughts?

Else, I think we can close this issue?

[2015-12-09 01:56] cpauya commented on #288
@djallado Can you confirm this is fixed in #293 already?  I think we can close this now.

[2015-12-09 01:56] amodia commented on #308
@djallado I think the solution here is on the `post_installation script` we need to run first the `kalite manage unpack_assessment_zip` and run `kalite manage init_content_items --overwrite & kalite manage setup --noinput`. this worked on the KA Lite application.

[2015-12-09 01:58] cpauya commented on #282
@djallado Let's test and confirm that this is fixed in #309 already.

[2015-12-09 01:59] cpauya commented on #282
@arceduardvincent I think @amodia is using `~/Library/LaunchAgents/org.learningequality.kalite.prefs.plist` -- did we also include this on the uninstall script?

[2015-12-09 02:07] djallado commented on #288
@cpauya I tested it again with the latest changes of @amodia PR and it was solved already. I can't replicate the one I comment above again.

[2015-12-09 02:09] cpauya commented on #308
Assigning this to @arceduardvincent because this looks like an installer task.

[2015-12-09 02:12] cpauya commented on #288
Thanks.  Fixed in #293.

[2015-12-09 02:12] #288 closed

[2015-12-09 03:29] djallado commented on #282
@cpauya I tested this again and `org.learningequality.kalite.plist` from `/Library/LaunchAgents/` was removed when I upgrade to 0.16.0.

Here's the snapshots:
![screen shot 2015-12-09 at 11 02 43 am](https://cloud.githubusercontent.com/assets/8664071/11675682/996e3798-9e66-11e5-970d-ba06cbb39e88.png)
This is the plist when I install `0.15.0`.

![screen shot 2015-12-09 at 11 11 00 am](https://cloud

[2015-12-09 03:30] cpauya commented on #282
Thanks @djallado.  @arceduardvincent will be working to include the prefs plist and must mention this issue.  When that is done, we can close this issue.

[2015-12-09 07:59] cpauya commented on #308
Fixed in #313.

[2015-12-09 07:59] #308 closed

[2015-12-09 08:08] djallado commented on #282
This issue was fixed by PR #313 of @arceduardvincent.

[2015-12-09 08:08] #282 closed

[2015-12-10 04:43] EdDixon commented on #208
@cpauya I think so. I wish there was a clear and easy way to inform the user of the problem and workaround for versions 0.14 and below but since even that will not work with 0.15 and 0.16 should resolve the problem maybe we should just remove prior versions from availability all together for OSX to prevent them from running into this issue to begin with (keeping in mind 0.13 and 0.14 were new at s

[2015-12-10 15:02] benjaoming opened #314 "Make "sudo kalite" switch to default user"
Being a platform specific thing, I would suggest that we create a top-level "kalite" command that automatically switches to the user defined in `/etc/ka-lite/username`.

Scenario of a deployment where root account is in use:

[2015-12-10 15:03] aronasorman commented on #314
Understood. Commencing judgement day.
On Dec 10, 2015 7:02 AM, "benjaoming" <notifications@github.com> wrote:

[2015-12-10 15:04] benjaoming commented on #314
Seems this barcode scanner works then :D

[2015-12-10 15:10] benjaoming commented on #8
Look how plans change, now the debian installer asks loads of questions :D

[2015-12-11 00:50] benjaoming opened #315 "Assessment items URL needs to be reset when upgrading"
`ka-lite/download-assessment-items-url` should be changed such that upgrading will fetch from a new URL instead of using what's already in the debconf. If someone upgrades from 0.15 to the upcoming 0.16, this location should be cleared as it won't point correctly anymore.

[2015-12-11 15:44] EdDixon commented on #296
@MCGallaspy it could be possible that the KALITE_PYTHON env var being set prior to the upgrade attempt caused the error I guess? That's what I get for testing on a production machine LOL sorry to create the confusion but I am surprised to see any runtime error regardless of what else may have been running or installed during the 0.15.1 installation attempt. My installation did apparently "take" de

[2015-12-11 18:52] MCGallaspy commented on #296
It is possible -- what was the value of `KALITE_PYTHON` when you attempted this?

[2015-12-11 18:56] EdDixon commented on #296
c:\Python27\python.exe

Which is the installed path of my python 2.7 version?

[2015-12-11 21:36] MCGallaspy commented on #106
I was not able to replicate this on Windows 7 using 0.15.1 -- @radinamatic can we work together to try this out? @EdDixon thanks for your original report.

Some additional notes to myself after investigating this a bit:
* The scheduled task runs as the SYSTEM user -- and so creates a `.kalite` directory in the systemprofile dir. Could be a problem if the user e.g. runs KA Lite as themselves first,

[2015-12-12 21:31] benjaoming commented on #106
Just to clarify this, it's not an env var: It works by putting the username of the default ka lite user in `/etc/ka-lite/userrname`.

[2015-12-14 14:00] djallado opened #316 "Make a release_notes file for mac."
Make a release notes for mac installer.

References:
 *  https://en.wikipedia.org/wiki/Release_notes
 *  http://stackoverflow.com/questions/638423/how-should-release-notes-be-written
 *  https://github.com/django/django/tree/master/docs/releases

Example:
 * [Transmission BT Release Notes](http://www.transmissionbt.com/)

[2015-12-14 14:01] amodia opened #317 "Apply button must disable if no changes in the preferences dialog."
**Branch:** `develop` (OS X installers)
**Current behavior:** Apply button is always enabled.
**Expected behavior:** Apply button must disable if no changes in the KA Lite preferences dialog.

**Steps to reproduce:**
1. Launch the KA Lite OS X application.
2. On the menu bar KA Lite icon, select Preferences.
3. Observe that the Apply button is always enabled.

[2015-12-15 00:46] MCGallaspy commented on #106
@radinamatic can you verify that the "Start at boot" option doesn't work on Windows XP for 0.16.x, and also see if it fails to work on other versions of Windows? You can grab an installer from our build server (ask in hipchat). It may be that the process is slow-running, which could make it appear that it didn't work. Check to see if there is the characteristic python process (owned by SYSTEM in t

[2015-12-15 20:42] MCGallaspy commented on #296
@radinamatic can we add this to the pipeline as well? The goal would be to try to replicate ed's original error. I believe it could be done by installing python 3 and python 2 before installing KA Lite.

[2015-12-15 20:49] radinamatic commented on #296
Sure thing, will test too! @MCGallaspy

[2015-12-16 13:50] radinamatic commented on #106
Confirmed on Windows 7 -  "Start at boot" option doesn't work despite being selected during the installation. No python processes whatsoever.

Only one error message during the installation, which, however apparently manages to finish:

![secret_key](https://cloud.githubusercontent.com/assets/1457929/11842191/4ddbe216-a402-11e5-878b-d6139ac3fcd6.png)

Two error messages appear when I try to start

[2015-12-16 14:44] radinamatic commented on #106
"Start at boot" fails on XP too. Same as for W7, no python processes at all after restart.
Will do W8 next.

[2015-12-16 15:20] radinamatic commented on #106
All of the above from installer in Bamboo build # 81.

[2015-12-16 16:30] radinamatic commented on #106
(One of my own machines with XP - not VirtualBox)

Another 0.16 installation on Win XP fails to setup the start on boot, but this time there is a visible error:

![boot](https://cloud.githubusercontent.com/assets/1457929/11846763/4afa9ca0-a41a-11e5-8034-8e33e3709ea7.png)

[2015-12-16 16:35] radinamatic commented on #106
However, once the installation finished and I tried to activate "Start at boot" - it was not possible.

![boot2](https://cloud.githubusercontent.com/assets/1457929/11846900/129c316a-a41b-11e5-9547-b0096ea27ee7.png)

In fact, the only option that can be activated from the pic above is the third one ("Auto-start server when KA Lite is run). The other two are unresponsive.

[2015-12-16 17:51] radinamatic commented on #296
Just to make sure: I should install Python 2.7 and 3.5 prior to installing KA Lite to test this issue?
Do I need to mess with the env vars too?
@MCGallaspy

[2015-12-16 18:19] EdDixon commented on #296
Because it did not replicate on Mikes windows 7 test I feel you may need to have those same env vars set to replicate the error. May be best to make a snapshot prior and test both ways I guess... Welcome to my world :)

[2015-12-16 18:47] MCGallaspy commented on #296
@radinamatic the python version is checked here during installation: https://github.com/learningequality/installers/blob/develop/windows/installer-source/KaliteSetupScript.iss#L348

It's possible that different env variables could produce different results. I wouldn't expect KALITE_PYTHON to affect the above check, it's simply not used there. It may be affected by the value of PATH, but I doubt it

[2015-12-16 18:49] MCGallaspy commented on #296
And yes, that's how I would attempt to replicate this. I would also try installing 2.7 and 3.x in different orders. I also wouldn't begin messing with env vars unless I couldn't replicate it this way first, in order to narrow down the possible causes of this bug.

[2015-12-16 18:56] radinamatic commented on #106
Second test on W7 (clean VM) fails also, with the same "Failed to create config file/option" alerts.

Server runs OK, creates admin, etc...

[2015-12-16 23:16] radinamatic commented on #296
Both Python installers give the option "Add to path" but it's unchecked by default, so I'm unsure if people do that at all, and secondly, if I should do it for purpose of this test... :confused:
@MCGallaspy

[2015-12-16 23:51] radinamatic commented on #296
Windows 8.1 (fresh VM):
Installing Python 2.7 and then 3.5 (neither of them added in path) defaults to using `c:\Python27\python.exe` with the RuntimeWarning in console window, but no errors as @EdDixon reported.

I'll revert to snapshot prior to installing 3.5 and add it to path to see if that changes something.

[2015-12-17 00:45] radinamatic commented on #106
Same fail with W8 (clean VM).
"Failed to create config file/option" alerts from above present too, but server runs OK after closing those, so it's possible to create admin, login, etc...

So far, this has been confirmed on Win XP/7/8.
How do you suggest we proceed in solving this, @MCGallaspy?

[2015-12-17 01:31] radinamatic commented on #106
As the last resort I activated the other two options: "Run KA Lite when the user logs in" and "Auto-start server when KA Lite is run" (the second one was already active, but not working after previous restarts), and restarted the machine.

The first one worked - KA Lite run at startup, but the third one did not - no Python processes can be seen in the Task Manager.

[2015-12-17 03:40] MCGallaspy commented on #106
A few comments, and a basic outline of how I would approach this. @radinamatic you can attempt further debugging if you want, otherwise I'll get to it when I have the opportunity.

1. The error you mention in this comment is entirely new to me: https://github.com/learningequality/installers/issues/106#issuecomment-165111035
    Let's open a new issue for that.
2. The installer attempts to create a

[2015-12-17 14:54] arceduardvincent commented on #215
I think this one should be close.
It is a stale issue.

[2015-12-17 18:21] #215 closed

[2015-12-17 21:10] MCGallaspy commented on #106
It's this. The included script in the ka-lite repo is out of date.

[2015-12-17 22:08] radinamatic opened #320 "Error reading secret key file [Errno 21]"
Error reading secret key file [Errno 21]

**Branch**: 0.16 installer (build # 81) on Windows 7 & 8

**Current Behavior**:

These error messages appear during the installation, which, however apparently manages to finish:

Windows 7

![secret_key](https://cloud.githubusercontent.com/assets/1457929/11842191/4ddbe216-a402-11e5-878b-d6139ac3fcd6.png)

Windows 8.1

![ie11 - win8 1 pre python 3 5 runnin

[2015-12-17 22:13] radinamatic commented on #106
#320 opened for the `Error reading secret key file [Errno 21]`

[2015-12-17 22:15] radinamatic commented on #106
Or were the "Failed to create config file/option" alerts the ones you wanted a separate issue opened? @MCGallaspy

[2015-12-17 22:16] MCGallaspy commented on #320
The secretkey stuff isn't really an error -- just unfortunately worded output. Will change that. However, the dialog boxes that now appear are seemingly a legitimate error.

[2015-12-17 22:18] radinamatic commented on #320
Ok, I'll change the title of the issue.

[2015-12-17 22:20] radinamatic commented on #320
Or better, open a separate one for those.

[2015-12-17 23:03] radinamatic opened #321 "Failed to create config file/option alerts on Windows installer"
"Failed to create config file/option" alerts

**Branch**: 0.16 installer (build # 81) on Windows 7 & 8

**Current Behavior**:

Two error alerts appear when KA Lite is started from the desktop shortcut:
![config](https://cloud.githubusercontent.com/assets/1457929/11842145/0f1ff0a8-a402-11e5-9eae-e89cbb462a56.png)
![option](https://cloud.githubusercontent.com/assets/1457929/11842151/1866e8ce-a402-11

[2015-12-17 23:35] MCGallaspy commented on #321
@ruimalheiro perhaps you can give some insight? Not really sure what the [config.h](https://github.com/learningequality/installers/blob/develop/windows/gui-source/KA%20Lite/config.h) stuff is for.

[2015-12-18 01:17] radinamatic commented on #296
Windows 8.1:

Restored the screenshot and installed Python 3.5 with the **path check box activated** and than proceeded with KA Lite installation. Couldn't replicate the error by @EdDixon, as no error messages during Python 2.7 and KA Lite installation appeared, but server was not starting.

`KALITE_SCRIPT_DIR` was `C:\Python27\Scripts`, but user PATH variable was `
C:\Users\IEUser\AppData\Local\P

[2015-12-18 03:06] radinamatic commented on #106
With installer # 87, scheduled task is created, and it did not fail (reports as "Success"), however KA Lite process does not start at system restart... :(

So it may be the time for option 3.ii?

[2015-12-18 16:01] ruimalheiro commented on #321
Hey @radinamatic @MCGallaspy ,

The options to run at windows startup / autostart server  are stored within the file "CONFIG.dat". The "config.h" contains all the logic to create and read the configuration file.

Perhaps that error is related with writing permissions issues by the user? If it fails to create the file, it will display that error.

[2015-12-18 19:43] radinamatic commented on #321
So far these errors appears on Windows 7 & 8, but not on XP. Can that maybe shed some light?

[2015-12-18 20:46] ruimalheiro commented on #321
That would make sense since Windows Vista+ are more restrictive in respect to user permissions.

That would make sense since that Windows Vista+ are more restrictive in respect to user permissions.

If the user does not have permissions to write to the directory where KA Lite is installed, it will not be able to create the configuration file and it will display that error.

Unfortunately we are no

[2015-12-18 21:22] radinamatic commented on #321
The user that is installing KA Lite and running has admin status, and those errors do not appear while running the `KA Lite.exe` (weather by double click, right click >`Open` or right click > `Run as administrator`).

However, if I want to activate `Options > Run KA Lite when the user logs in`, by right clicking KA Lite icon in the taskbar notification area, I get "Failed to create config file".

[2015-12-19 00:36] MCGallaspy commented on #321
Yeah, it does indeed have to do with the owner of the CONFIG.dat file (which is found in KA Lite's installation directory). If it's created at install time, the admin privileges cause it to be owned by an admin. Subsequently a regular user doesn't have the perms to modify it, but if you run the gui app as admin it seems to work ok. (This is on Win 7, but I expect similar results for other versions

[2015-12-19 00:38] MCGallaspy commented on #321
The user also doesn't necessarily have permissions to *create* a CONFIG.dat file if one wasn't created during installation...

[2015-12-19 00:45] MCGallaspy commented on #321
I wonder if it's possible to request the perms on newer version of Windows? I'll look into it.

[2015-12-19 00:46] ruimalheiro commented on #321
Yep, that is right. Perhaps one possible course of action would be to actually create the configuration file under the user documents or similar? This would allow different config styles for each user on that machine and would avoid any I/O problems (regarding user permissions).

[2015-12-21 06:28] cpauya commented on #317
Fixed in #318

[2015-12-21 06:28] #317 closed

[2015-12-21 07:01] arceduardvincent opened #324 "Include release documents in release-docs"
We should include the release documents in the `release-docs/` directory such as `release_notes.rst` and `README.md`

[2015-12-21 07:03] cpauya commented on #208
@EdDixon We have a WIP PR for a release notes file in the OS X installer at https://github.com/learningequality/installers/pull/323 -- I think this will help the user in deciding which versions to use (or which versions to jump to when upgrading).

Although it's normal for a user to install the latest released version, we must keep the released versions in cases where some users actually downloade

[2015-12-21 09:20] cpauya commented on #214
Closing this as per reasons above.

[2015-12-21 09:20] #214 closed

[2015-12-21 10:02] arceduardvincent commented on #201
Hi @aronasorman .
I tested this issue by installing 0.14.2 then upgrade to 0.16.0. However I didn't replicate this issue.
It was solve on #313.
![screen shot 2015-12-21 at 5 57 11 pm](https://cloud.githubusercontent.com/assets/4099119/11928147/554c1d82-a80c-11e5-9cd3-667eb7daa93e.png)

[2015-12-22 16:10] benjaoming opened #326 "Reported issue in download-assessment-items-tmp"
Supposedly setting `ka-lite/download-assessment-items-tmp` doesn't work. Let's investigate.

[code]

[2015-12-23 01:32] amodia opened #327 "KA Lite application must not load if `kalite` executable is not found."
**Branch:** `develop` (OS x installer)
**Current behavior:** KA Lite application will load even if `kalite` executable is not found.
**Expected behavior:** KA Lite application must not load if `kalite` executable is not found.

**Steps to reproduce:**
 1. Install the OS x KA Lite application.
 2. Remove the kalite executable at `/usr/local/bin/kalite`
 3. Launch the KA Lite application.

**Checkli

[2015-12-26 02:13] cpauya commented on #327
Fixed in #328.

[2015-12-26 02:13] #327 closed

[2015-12-28 06:12] cpauya commented on #324
Fixed in #325.

[2015-12-28 06:12] #324 closed

[2015-12-28 06:12] cpauya commented on #316
Fixed in #325.

[2015-12-28 06:12] #316 closed

[2015-12-28 09:30] cpauya opened #329 "Uninstall script does not delete the KA Lite data folder."
**Branch** develop

**Target** 0.16.0

**Expected Behaviour** The OS X uninstall script does not delete the KA Lite data folder even when user answers "yes" when asked.

**Current Behaviour** It doesn't delete the KA Lite data folder.

[2015-12-30 20:54] radinamatic commented on #106
I'm picking up this in the meantime @MCGallaspy, trying to check if start on boot is not selected during the installation, weather it can be properly setup from KA Lite options.

[2015-12-30 21:40] radinamatic commented on #106
We should add a sentence specifying that the startup options can be changed from `KA Lite.exe` options. I suggest these changes in the startup options installer window:

[code]
(**W**indows capital letter in the first option)

[2015-12-30 21:47] radinamatic commented on #106
Did you change something with `KA Lite.exe` default options? It starts the server automatically when opening from the desktop shortcut?

(screenshot coming)

It seems that now all 3 KA Lite options are activated by default, even though I selected not to run server at startup.

(screenshot coming)

I would say that running desktop shortcut in this case should only open KA Lite in the Taskbar notifi

[2015-12-30 22:25] radinamatic commented on #106
Even if I uncheck all 3 options and exit KA Lite, when I start it through the desktop shortcut, it starts again with all 3 options activated.

[2015-12-30 22:41] radinamatic commented on #106
Another suggestion would be to reflect the options from the installer in the options inside KA Lite in the Taskbar notification area, to try to minimize confusion between "server" and "KA Lite":

- Run the server when the user logs in
- Run the server at system startup
- Auto-start server when KA Lite is run

[2016-01-05 01:20] MCGallaspy commented on #321
TL;DR
-------

Old behavior is problematic since KA Lite could now be run by several users on the same machine. We should support multiple users (and also thereby avoid permissions problems), but this creates a lot of caveats for upgrading. I've proposed some changes, but they bear discussion because there are pros and cons. Read more below and share your opinion.

Recap
-------

The installer is

[2016-01-05 01:27] MCGallaspy commented on #321
Additionally, I can't recall when we moved from a shared database to a single-user database on Windows -- from the [release notes](http://ka-lite.readthedocs.org/en/latest/installguide/release_notes.html#id2) I think we started using a single-user database in 0.14.0. @radinamatic can you verify that 0.13.x uses a shared database (found in the KA Lite installation directory) and 0.14.x uses a singl

[2016-01-05 02:14] radinamatic commented on #321
Ok, I will do a 0.13 version installation to verify the shared database presence.

Regarding the CONFIG.dat conundrum, I'm just wondering how frequent is the user case where there are 2 different users (2 admins?) who need to run the server, which will lead to 2 sets of user data? I've always envisioned one and only one server installation, since it has the ability to manage multiple scenarios (sc

[2016-01-05 02:35] radinamatic commented on #321
Thinking further...**Learner** users will probably never start the server themselves, but some **Coach** might (a part from **Admins**, obviously), so do I see the need to sort the server start by different users after all...

[2016-01-05 12:13] cpauya commented on #329
Fixed in #329.

[2016-01-05 12:13] #329 closed

[2016-01-05 13:12] cpauya commented on #134
This is already fixed on the latest `develop` branch.

[2016-01-05 13:12] #134 closed

[2016-01-05 14:13] aronasorman opened #331 ""Running package scripts" lacks description of what's happening"
My installation process spent about 5 minutes in this step:
![screen shot 2016-01-05 at 08 10 26](https://cloud.githubusercontent.com/assets/191955/12117132/2a368870-b384-11e5-9f5c-cb22db557bbd.png)

It would be nice if there were some more description of what exact step is happening. Or is this just the `setup` command?

[2016-01-05 14:14] aronasorman commented on #331
Also, why is a restart needed?

[2016-01-05 15:39] radinamatic commented on #321
0.13.2 version has the `data.sqlite` file in folder:

`C:\Program Files\KA Lite\ka-lite\kalite\database`

[2016-01-05 16:01] EdDixon commented on #321
@MCGallaspy knowing there is some crossover between a planned kalite deployment you are involved with and kolibri. This might be a good time to look at a start to a more sane user permission structure for our furture kolibri design? Depending on time tables of course which I know you understand much better than I? But my preference would be a roll based adminstration assigned model where the admin

[2016-01-05 16:39] radinamatic commented on #321
0.14.2 version has the `data.sqlite` file in folder:

`C:\Users\IEUser\.kalite\database`

[2016-01-05 22:37] MCGallaspy commented on #321
Just a note -- on XP, even when a KA Lite scheduled task is run as the SYSTEM user, it seems to choose the location of the .kalite dir based on the current user's %USERPROFILE% value.

[2016-01-05 23:18] radinamatic commented on #321
It does seems that only scheduled task are reserved for those with elevated permissions.

Regarding the above table about migrating data (bottom-left entry):

We are talking about upgrading on Win 7 & 8 for users who run KA Lite run as SYSTEM user. Can't the installer check if there is a `kalite.job` scheduled task present?

That's also an option, but I would personally prefer if all can be correc

[2016-01-05 23:23] MCGallaspy commented on #321
Yeah, I am trying to determine where the .kalite dir appears when run as the SYSTEM user -- then we can prompt them to save/migrate that data at install time. Sadly, it appears there's a bug in Windows affecting this very situation: https://support.microsoft.com/en-us/kb/2968540

[2016-01-05 23:57] MCGallaspy commented on #321
A note to summarize the USERPROFILE situation on each version of Windows. I'll be updating this.

OS | Value of USERPROFILE at boot for SYSTEM user | Value of USERPROFILE after log in for SYSTEM user
-----|----|-------------
XP |  Apparently no value? Could be why it fails. | Takes the value for the currently logged-in user
Windows 7 | Apparently `C:\Windows\System32\config\systemprofile\` | Haven

[2016-01-06 00:25] radinamatic commented on #321
Oh, what a surprise... :unamused:

I am testing starting the server on non-admin (coach) Windows user with 0.14.2 that I installed today. It does not throw any errors from KA Lite options in taskbar notification, but it does require the system admin user password when python process is raised.

[2016-01-06 01:00] cpauya commented on #331
Yes @aronasorman, I agree it'll be good to show the steps being run, it's quite a long wait.  Here's what actually happens here:

1. run the pre-installation script (runs the `ka-lite-remover.sh` script);
2. copying the payloads to the `/Users/Shared/ka-lite/` (pyrun, assessment items, scripts);
3. run post installation script (create the .plist, shebangcheck, syncdb, init_content_items, unpack_as

[2016-01-06 01:21] radinamatic commented on #321
0.14.2 on Windows 7

Running the server by two different Windows users (one admin and other standard) creates two **completely different** KA Lite "setups" - different content folders, databases, (super)users...

Is this really the intended behavior? I could understand the need for, let's say, coach person to login with their Windows credentials on that machine and be able to start the server, but

[2016-01-06 01:32] MCGallaspy commented on #321
Yes, if two different users run KA Lite then it will create two different .kalite directories, because it's based on the running user's %USERPROFILE% value. This can be changed by setting the KALITE_HOME environment variable. It's also why I find it problematic that the scheduled task runs as the SYSTEM user, but a user using the the task-tray program will start KA Lite as his/herself and not SYST

[2016-01-06 01:42] EdDixon commented on #321
I have always felt this would be a nice feature in a multi-teacher classroom for example, where the room is scheduled for use by more than one teacher each day on the same hardware each having their own record store and coaching capabilities for the classes they are teaching without access to the others. I think it offers the greatest amount of flexibility in meeting different use cases but does c

[2016-01-06 01:49] MCGallaspy commented on #321
Okay, after much sleuthing I discovered that on Windows 8: the default value of KALITE_HOME is `C:\Windows\System32\config\systemprofile\` still, but this gets translated to `C:\Windows\SysWOW64\config\systemprofile\` somewhere along the way. See my [table](https://github.com/learningequality/installers/issues/321#issuecomment-169172936) above.

[2016-01-06 01:53] MCGallaspy commented on #321
TIL about running 32-bit windows programs in 64-bit windows: https://msdn.microsoft.com/en-us/library/aa384187(v=vs.85).aspx

[2016-01-06 02:49] arceduardvincent opened #332 "Include Uninstall button in the Preferences dialog."
**Branch:** Develop

**Target:** 0.16.x

**Current Behavior:** There is no uninstall button in the `Preferences` dialog.

**Expected Behavior:** We must have an uninstall button on the preference dialog so the user can easily locate the uninstall button.

**Checklist:**
- [x] Create a  `Uninstall` button
- [x] Modify uninstall script that support the deleting of `$KALITE_HOME` without user confirm

[2016-01-06 03:07] cpauya commented on #332
@amodia Can you add a checkbox to "Delete the KA Lite data folder." next to the uninstall button?

Then make sure to use the `KALITE_HOME` environment variable if it exists or default to `$HOME/.kalite/`.

@arceduardvincent Reminder to be very careful with this because inside the uninstall script is a `sudo rm -rf <path>` command.

[2016-01-06 07:25] arceduardvincent commented on #331
Hi @aronasorman and @cpauya .
I was not able to find any alternative how to put some description in the `Installation` step.
As you can see the [Customizing a distribution interface ](http://s.sudre.free.fr/Software/documentation/Packages/en/Distribution_UI_Customization.html) in packages didn't support displaying the installation process description.

The `Installation` step work's on this manner

[2016-01-06 08:41] cpauya opened #333 "Outdated documentation for 0.16"
**Branch** develop

**Target** 0.16.x

**Expected Behaviour** Updated documentation for the upcoming release.

Documentation Updates
* [x] installers/osx/README.md
* [x] installers/osx/release-docs/LICENSE
* [x] installers/osx/release-docs/README.md
* [x] installers/osx/release-docs/RELEASE_NOTES.md
* [x] installers/osx/KA-Lite/KA-Lite/README.md
* [x] ~~installers/osx/KA-Lite/KA-Lite/README-FOR-DM

[2016-01-07 10:56] cpauya commented on #332
Fixed in #336.

[2016-01-07 10:56] #332 closed

[2016-01-08 08:40] amodia opened #337 "Facilities, Videos, Languages tabs aren't showing during the upgrade."
**Branch:** Develop (OS X installer)
**Current behavior:** Facilities, Videos, Languages tabs  aren't showing if 0.15.1 KA Lite OS X installation is upgraded to 0.16.
**Expected behavior:** Facilities, Videos, Languages tabs must show.

**Steps to reproduce:**

 1. Download the [0.15.1 KA Lite OS X installer release](http://pantry.learningequality.org/downloads/ka-lite/0.15/installers/mac/KA-Lite-

[2016-01-08 16:20] aronasorman commented on #337
Rerun `make assets`.

[2016-01-08 16:46] aronasorman opened #338 "Tooltip help isn't too user friendly"
I'm referring to this:

![screen shot 2016-01-08 at 08 44 28](https://cloud.githubusercontent.com/assets/191955/12203498/27f70aaa-b5e4-11e5-8d58-fd22b8313027.png)

My expectation is that if I click that button a help window would pop up. Instead nothing is happening, and the only way I even knew that the tooltip containing help text would appear was that someone informed me. Else, I'd think this b

[2016-01-11 09:28] amodia commented on #338
@aronasorman I'm working on this issue. This is my working branch https://github.com/mrpau/installers/tree/feature/338-tooltip-help-isnt-too-user-friendly

[2016-01-11 10:20] cpauya commented on #338
@aronasorman Can we show an alert dialog when the "?" button is clicked for now?  I think making the help window will take a few days and we'd like to do more upgrade testing.

Or perhaps @amodia can show another dialog if the alert dialog does not allow custom text formatting.

[2016-01-11 16:19] aronasorman commented on #338
@cpauya Sounds like a good temporary solution.

[2016-01-12 03:21] arceduardvincent commented on #337
Hi @aronasorman .
We can't rerun the `make assets` during upgrading 0.15.x  to 0.16.x when it is on the client machine.
The client machine may not have a `developer tools` to run the `make assets`.

The behavior above manifested when I upgrade 0.15.x to 0.16.x in my virtualbox.
![screen shot 2015-12-22 at 3 49 31 pm](https://cloud.githubusercontent.com/assets/4099119/12253920/87ec04a0-b91e-11e5-84

[2016-01-12 09:12] arceduardvincent opened #340 "A restart is required after installation."
**Branch:** Develop (OS X installer)
**Current behavior:** After a successful installation the installer wizard prompt you to restart.
After successful installation, the `KALITE_PYTHON` environment variable is running on the sudo context. We need to restart the machine to load the .plist file which sets the `KALITE_PYTHON` environment variable in the user context so that it will be accessible in `

[2016-01-12 15:38] aronasorman commented on #337
@arceduardvincent `make assets` should be done during the installer build process, and the new assets just copied to the right directory.

[2016-01-12 20:59] radinamatic opened #341 "Allow user to select location of the old content folder during upgrade installation on Windows"
@MCGallaspy is implementing the steps to find content folder of the previous installation and move it (if necessary) to the new location during the upgrade to 0.16 (PR  #335). In case installer is unable to find the location of the content folder for the previous version automatically, the following step would be to allow users to browse and select the old-version content folder themselves. Sugges

[2016-01-13 01:41] arceduardvincent commented on #337
We have already issued the "make dist" on the [build.sh](https://github.com/learningequality/installers/blob/develop/osx/build.sh#L258) .

Should we rerun the `make dist` again?
I found out some invalid solution on how we deal with that issue, when we remove the ". kalite"
the `Facilities`, `Videos`, `Languages` tab` are showing so I was suspecting that we have a problem with upgrading the static

[2016-01-13 01:49] aronasorman commented on #337
If the new installer has the assets built by make assets, then replacing the current assets should do the trick. No need to run `make assets` in the client.

[2016-01-25 22:57] radinamatic opened #345 "Run server on system startup not working after upgrade to 0.16 (build 104)"
Run server on system startup not working after upgrade to 0.16 (build 104)

##### Upgrade scenario

0.15.1 > 0.16 (build 104) on Windows 7
Server was starting correctly on boot with 0.15.1 installation, independently from which user (admin or standard) logged in.

##### Expected Behavior

If the user upgrades to 0.16 and enables `Run KA Lite on system startup` among Options in task-tray, KA Lite s

[2016-01-26 01:27] #48 closed

[2016-01-26 01:28] MCGallaspy opened #346 "[Windows] Ensure scheduled task runs even when user is not logged in"
On Windows 7 at least, I've noticed that this option must be explicitly enabled. Otherwise the scheduled task fails.

[2016-01-26 01:30] MCGallaspy opened #347 "[Windows] Unknown error during installation"
See https://github.com/learningequality/installers/pull/335#issuecomment-173339645 -- however, we're not able to replicate that error at this time.

[2016-01-26 01:47] radinamatic commented on #345
This is what the **successful** task that runs on 0.15.1 snapshot of this VM looks like:

![ie11 - win7 netplwiz enabled password running - oracle vm virtualbox_221](https://cloud.githubusercontent.com/assets/1457929/12570300/a6bbca24-c3d6-11e5-9035-706b7d015402.png)

Run by the `SYSTEM` user **whether logged on or not**.  Maybe I missed something, but why can't we have the same in 0.16? @MCGallas

[2016-01-26 01:58] MCGallaspy commented on #346
Duplicate of #345.

[2016-01-26 01:58] #346 closed

[2016-01-26 13:44] radinamatic commented on #345
I did try to change several options (`Run whether logged on or not` and even adding the delay in trigger options as somebody suggested [here](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/f2bf3f60-8d65-4036-b6e6-a846a9bb6158/0x800704dd-error-while-running-a-task-as-a-standard-user?forum=windowscompatibility) ) in the scheduled task that is created by 0.16 installer, to no avail...

[2016-01-26 14:08] radinamatic commented on #345
I'm having a meltdown with this SYSTEM user stuff... :stuck_out_tongue_closed_eyes:

Ok, so during the upgrade we migrated the user data & content from SYSTEM user's location to current user location, and therefore we need the scheduled task to start with the current user too, right? That's what I was missing... :unamused:

[2016-01-26 16:46] MCGallaspy commented on #345
Right.

[2016-01-27 00:30] radinamatic commented on #345
I wanted to ask this earlier, but it seemed contra-intuitive since we are trying in every way to make this thing run with the current user, and failing... Namely, is it really necessary? Could we somehow make use of SYSTEM user to start the server, since it seems the only way it's working for sure at startup (before logon), but make available that option only **AFTER** admin has created some conte

[2016-01-27 01:19] MCGallaspy commented on #345
I think the crux of the matter is this. It works, but it's contrary to the user data model of KA Lite introduced in 0.13.0. It also now doesn't play nicely with the task tray program -- running the server as the SYSTEM user will not be properly reflected in the task tray. The user will still have the option to "Start the server" but it will mysteriously fail since the port is taken.

Have we firml

[2016-01-27 01:34] radinamatic commented on #345
Are we positive about this? In the test case above I wanted to look for & change the version so I can download the 0.15 langpacks, so I decided to stop the server. Since it was running as SYSTEM and not through the task tray program, I started KA Lite from the desktop shortcut, and opened it with the right-click. `Start Server` was active for about 2 seconds, and then it became unavailable while `

[2016-01-27 08:25] cpauya commented on #340
Fixed in #340.

[2016-01-27 08:25] #340 closed

[2016-01-27 08:26] cpauya commented on #338
Hi @aronasorman - this is fixed in #343 - perhaps we can close this already?

[2016-01-27 11:54] cpauya commented on #337
Fixed in #342.

[2016-01-27 11:54] #337 closed

[2016-01-27 15:06] radinamatic commented on #345
After playing more with the previous test case on another (physical & virtual) machine, now I am positive that running the start-at-boot task as SYSTEM user does not, as @MCGallaspy noted already, play nicely with the task tray KA Lite program, at least on 0.15.1 that I have been testing.

As mentioned above, task tray program registers that server is running, but is unable to stop it - in the scr

[2016-01-27 15:25] #338 closed

[2016-01-27 19:38] MCGallaspy commented on #345
Prior to KA Lite 0.13.0, the answer is yes. At that time a breaking change was introduced into the application, so that the answer is no. That is indeed why we'd like the scheduled task to be run as the current user.

[2016-01-27 20:12] MCGallaspy commented on #345
Okay @radinamatic, just want to try to clarify the expected behavior:

* 0.15.x and lower will run the start-at-boot task as the SYSTEM user (if it runs it successfully at all!)
* 0.16.x will run the start-at-boot task as the current user
* If you upgrade from a lower version to 0.16.x, then the original start-at-boot task for the SYSTEM user will remain (as I just discovered, and this is an error

[2016-01-27 21:05] radinamatic commented on #345
@MCGallaspy Point-by-point

Start-on-boot task as the SYSTEM user workes for me on all 0.13.2, 0.14.2 and 0.15.1 installs.

That's the plan!

I had to re-test this, as I wasn't positive that the original start-at-boot task for the SYSTEM user remains, as I was convinced that the KALIte task job of the previous version gets eliminated in the Uninstall step of the upgrade process. You are right, the

[2016-01-27 21:52] radinamatic commented on #338
I know this is after the fact, but let's keep in mind that from the accessibility point of view, pressing the actual button (to access some additional content like help) is almost always preferred to tooltip-from-hover solution. I don't have first hand experience how/if VoiceOver screenreader reads this on Mac (hopefully that will change very soon), but that's true for browser development.

[2016-01-27 22:40] #321 closed

[2016-01-27 22:53] radinamatic commented on #345
Update on points 2 & 3:

Retested upgrade 0.15 > 0.16 on W7. As we confirmed, the 0.15 SYSTEM user start-at-boot task is not eliminated during the uninstall, and after the install has finished, server was not running (one lone python process which is not occupying any ports):

![ie11 - win7 netplwiz enabled password running - oracle vm virtualbox_223](https://cloud.githubusercontent.com/assets/145

[2016-01-28 02:58] MCGallaspy commented on #345
In the final step, you have "Do not store password..." checked -- this will cause an error. Uncheck it, enter your password, and try again. Regarding the errored behavior above, I think it should be addressed by properly removing the SYSTEM-owned scheduled task.

[2016-01-28 03:58] EdDixon commented on #248
Just tried the demo here on win32 XP and it is a really fast clean solution replacing our current win32 binary? I really like it!

![2016-01-27_20-43-39](https://cloud.githubusercontent.com/assets/4349806/12634659/b94ca1b4-c538-11e5-8a7f-a8c8783132d7.png)

[2016-01-28 11:13] cpauya commented on #331
Hi @aronasorman - we cannot find a way to display the steps of the installation (or customise it) during the "Running package scripts..." step.

The command that takes a long time is inside the `post_installation.sh` script, specifically: `kalite manage init_content_items --overwrite`.  It takes about a minute or two to finish then the installer proceeds to the `kalite manage unpack_assessment_zip

[2016-01-28 12:10] cpauya opened #349 "OS X package installer on Bamboo is not code signed."
**Branch** Develop

**Target** 0.16.x

**Current Behaviour** The OS X installer on Bamboo is not code signed.

**Expected Behaviour** The .pkg must be code signed.

**To replicate** Download the OS X installer from Bamboo at http://dungeon.learningequality.org:8085/browse/KL-MT16-59/artifact then install it.  You will be prompted with this dialog with the text "“KA-Lite.pkg” can’t be opened becaus

[2016-01-28 12:13] cpauya commented on #201
This is already non-extant on the latest `develop` branch.

[2016-01-28 12:13] #201 closed

[2016-01-28 12:43] cpauya commented on #338
Thanks for that @radinamatic - And yes we no longer have the tooltip, we used a Popover when the "?" button is clicked.  #343 shows more details (and the link to the Apple OS X Human Interface Guidelines on Popover) including a screenshot of the Popover. :smile_cat:

[2016-01-28 14:38] radinamatic commented on #338
Thanks @cpauya, one of the pain points is the closing of "alternative" content views. Wheather the Close button is solution or not is still [being discussed often](http://ux.stackexchange.com/questions/68377/can-we-expect-users-to-close-popovers-by-just-clicking-away), so when implementing popovers without explicit Close button, make sure that they can at least be closed by ESC key, and not by jus

[2016-01-28 15:14] aronasorman commented on #331
Note: the current iteration of 0.16.x will not require `init_content_items` anymore, as it has been generated beforehand. So this may be a non-issue in the future. Feel free to close if you want.

[2016-01-28 15:14] #331 closed

[2016-01-28 22:23] ruimalheiro commented on #248
Thanks for testing @EdDixon ! :+1:

[2016-01-29 12:59] radinamatic commented on #345
Fixed in #348. Closing.

[2016-01-29 12:59] #345 closed

[2016-01-29 13:50] radinamatic opened #351 "Stop the server running in background prior to upgrade"
Stop the server running in background prior to upgrade to 0.16
##### Upgrade scenario

0.13 through 0.15 > 0.16 on W7 (build # 114)
##### Current Behavior

In KA Lite versions 0.13 through 0.15 users had the option to run the server on system startup with the scheduled task. Since that task was run as the SYSTEM user, current user of KA Lite is not even able to stop the server. During the upgrade

[2016-01-29 14:58] radinamatic opened #352 "Check marks in KA lite task-tray not registering the correct state"
Check marks in KA lite task-tray not registering the correct state

##### Build

0.16 (build 104) on Windows 7

##### Expected Behavior

If user wants to set start-on-boot from task-tray Options and selects the `Run Ka Lite at system startup`, they need to input the system password to set the new scheduled task. Once the task is created task-tray should display the check mark in the above option.

[2016-02-01 18:12] benjaoming opened #353 "Manually test 0.15 -> 0.15.1 -> 0.16 upgrade path for Debian"
@radinamatic I've moved this issue so we can get the docs instructions up.. they're supposed to work so it's an issue if they don't.

[2016-02-01 18:22] radinamatic commented on #353
Ok, agreed!

[2016-02-01 18:34] MCGallaspy commented on #195
Now using the setup.py generated batch script.

[2016-02-01 18:34] #195 closed

[2016-02-01 18:36] MCGallaspy commented on #35
Won't fix on Windows. User is responsible for adding the script to the cmd path if desired. Please re-open the issue for OSX if desired, unsure of the status there.

[2016-02-01 18:36] #35 closed

[2016-02-01 18:39] benjaoming commented on #195
Cool, quick Q: If we factor out "python-packages" and "dist-packages" logic from setup.py (as I'm planning to do for 0.17), will it have any effect on the windows installer?

[2016-02-01 18:41] EdDixon commented on #35
Good to know, lease do be sure to add good documentation to do this on Windows systems as the  command offers a lot of utility when setup properly. It was only reported here because at that time it was a milestone for the release.
Thanks,

[2016-02-02 00:56] benjaoming commented on #195
@MCGallaspy

[2016-02-02 01:51] MCGallaspy commented on #195
Not sure what you mean exactly, can you elaborate? Basically, the Windows installer generates a "static" sdist using `setup.py sdist --static`, and the installs the kalite package at installation time using the resulting zipfile. So does it affect those steps?

[2016-02-02 07:46] cpauya commented on #349
[Mac OS X Gatekeeper](https://support.apple.com/en-us/HT202491) doesn't fire for unsigned .pkg if Mac OS X is in a VirtualBox VM.

Here's a screenshot of the Mac OS X El Capitan v10.11.3 on a VirtualBox VM:
![screenshot 2016-02-02 15 45 24](https://cloud.githubusercontent.com/assets/175580/12742820/075d1f2a-c9c4-11e5-9111-d32ccc6a0e9e.png)

As per above, the .pkg is launched even when it's unsigne

[2016-02-02 15:13] benjaoming commented on #195
@MCGallaspy nope, that should be entirely safe! If you don't do anything outside of this regarding these to "data files" locations, then it's totally safe and removing it won't hurt.

[2016-02-02 18:34] MCGallaspy commented on #349
Hi @cpauya, if I'm understanding this correctly, we may not wish to sign provisional builds from the build server. It might be a possible "leak" of buggy builds that appear official.

[2016-02-02 18:41] aronasorman commented on #349
@MCGallaspy it's a bit difficult in the OSX's case, since you have to sign both the container pkg file and the files inside. So you can't build, then sign it afterwards before uploading to the pantry server.

A compromise we did was to upload only the ones that are deemed "official", although maybe @cpauya you can quickly find a way to get it signed only for official builds?

[2016-02-03 02:32] cpauya commented on #349
Yes @MCGallaspy - good point.  But we are not going to release the provisional builds and only those in the Pantry server are the official releases.

Aside from what @aronasorman mentioned, we need to sign the .pkg and the .app for testing purposes too as I remember @EdDixon was asking about it before.

I think we can make an official build plan that sets a Bamboo env var like `IS_RELEASE` for the

[2016-02-03 09:49] benjaoming opened #355 "Nginx tweaks"
We should investigate many possible optimizations for Nginx, namely to get low-spec'ed platforms like Raspberry Pi to perform better.

Resources:
http://ngxpagespeed.com/

Constraints:
No third-party modules can be used. Only stuff that's configurable in the Debian Wheezy and newer nginx packages.

I'm not necessary the best qualified to investigate this

[2016-02-03 14:26] radinamatic opened #356 "Problem with linking to locally downloaded assessment items on Debian install"
Problem with linking to locally downloaded assessment items on Debian install

##### Build/Version

0.15 (build `ka-lite_0.15.0-0ubuntu4_all.deb`) on Ubuntu 15.10

It's not worth correcting this for 0.15, but I'm filing this issue just so we make sure that the same does not occur on 0.16 .deb installer that is yet to be compiled.

##### Expected Behavior

If user uses the `ka-lite_0.15.0-0ubuntu4_

[2016-02-04 12:38] radinamatic commented on #353
1. Install `ka-lite_0.15.0-0ubuntu4_all.deb`
2. Add assessment items during `kalite manage setup` (since it was unsuccessful during install - see #356)
3. During upgrade to `ka-lite_0.15.1-0ubuntu2_all.deb`, installer requires to download assessment items again.

It is of course possible to entirely skip this step, but user will be reminded to do it during `kalite manage setup` after the upgrade,

[2016-02-04 15:45] benjaoming commented on #353
It's a catch22.. the current version that's being uninstalled can't predict if the new version will use the same assessment items or not. Therefore it deletes them :(

[2016-02-04 23:55] radinamatic commented on #353
Weird, I was under impression I had the same assessment items "inherited" from 0.15.0 once I updated with `ka-lite_0.15.1-0ubuntu2_all.deb`. I'll recheck that VM tomorrow to confirm (or deny :wink:).

[2016-02-05 00:22] benjaoming commented on #353
With ka-lite-bundle you do because they're bundled and arrive with your next ka-lite-bundle .deb

But all files generally just remove the system assessment item dir:

[code]

[2016-02-05 13:14] radinamatic commented on #353
Other potentially improvable aspects for the .deb installer - not 0.15, but for 0.16 if we continue to make available both "minimal" and bundled version.

Installing "minimal" .deb:

[code]
At this point user may not remember well what are they supposed to do, since the command finishes without visible instruction. In truth, user was advised in previous window to run `kalite manage setup`, but it

[2016-02-08 23:07] MCGallaspy commented on #107
I'd noticed the same thing on some windows virtual machines. There it turned out the problem was a windows service using all the available resources. Stopping that service caused the installer to proceed normally.

[2016-02-08 23:07] #107 closed

[2016-02-08 23:08] MCGallaspy commented on #23
Updates @cpauya?

[2016-02-08 23:19] MCGallaspy commented on #149
@benjaoming can we do this within three weeks?

[2016-02-08 23:29] MCGallaspy commented on #170
Should be an easy enough fix in the KA Lite application itself, by changing the log level and/or the output when non-interactive setup is called.

[2016-02-08 23:38] benjaoming commented on #149
Well, I actually would vote no at the moment. I need at least 1-2 other people to be familiar with the manual process before automating it. Maybe we can go through this together during our joint 0.16 release sessions? Like say you release a beta.

[2016-02-08 23:40] MCGallaspy commented on #271
Is this extant?

[2016-02-08 23:41] MCGallaspy commented on #304
@benjaoming agree or disagree about the "release blocker" status?

[2016-02-08 23:43] MCGallaspy commented on #314
I think this is fixed? Can I close @benjaoming?

[2016-02-08 23:43] benjaoming commented on #271
Yes, I encountered this (or something like it) on the latest Raspbian Jessy.

[2016-02-09 00:37] benjaoming commented on #314
No actually not. But ka-lite does warn the user if they are not running `kalite` as the user specified in `/etc/ka-lite/username`. However, this issue was to make it automatically switch to that user if it's invoked with `sudo`.

[2016-02-09 00:46] benjaoming commented on #304
I think it's still a release blocker, shouldn't be too tough to solve.

[2016-02-09 11:25] cpauya commented on #23
Hi @MCGallaspy - sorry this is still outstanding as of today.

The approach here is to modify the [ka-lite-remover.sh](https://github.com/learningequality/installers/blob/develop/osx/ka-lite-remover.sh) - this same script is copied as `KA_Lite_Uninstall.tool` after installation.

Will work on this this week.

[2016-02-12 10:24] cpauya commented on #349
Fixed in #349.

[2016-02-12 10:24] #349 closed

[2016-02-12 10:29] cpauya commented on #163
This functionality is obsoleted by the `kalite manage retrievecontentpack` management command which we will implement for v0.16.x.

[2016-02-12 10:29] #163 closed

[2016-02-12 12:15] cpauya commented on #23
Fixed in #357

[2016-02-12 12:15] #23 closed

[2016-02-16 13:22] cpauya opened #358 "Use of retrievecontentpack on post install script of OS X installer."
**Branch** develop

**Target** 0.16

**Operating System** Mac OS X

**Expected Behaviour**  Use `kalite retrievecontentpack local en path-to-en.zip` for content items.

**Current Behaviour**  We used `kalite manage init_content_items --overwrite` to populate content items.

I modified the OS X installer's post install script to replace the `kalite manage init_content_items --overwrite` with `kalit

[2016-02-16 17:27] aronasorman commented on #358
1. Looks like my upload got cut off. Check again!

[2016-02-17 11:04] cpauya commented on #358
Thanks @aronasorman - it works now!

[2016-02-23 16:12] benjaoming opened #365 "ln: failed to create symbolic link ‘/etc/nginx/nginx.conf’: File exists"
## Summary

Upgrade issue

## Branch or installer

 - Installer: 0.16a3
## Traceback or server.log snippet

[code]

[2016-02-23 23:41] radinamatic commented on #353
**ka-lite-bundle_0.16-a3-0ubuntu1_all.deb**

Reiterating the previous post with one caveat: I misunderstood that the server is actually already running at this point, so my suggestion would be:

[code]

[2016-02-26 14:10] radinamatic opened #366 "Windows installer - Task tray options activated by default"
## Summary

All three KA Lite start options inside the task tray menu are activated by default upon install. Two main consequences:

1. Server starts by just clicking twice the desktop shortcut - If I remember correctly, on first run desktop shortcut should open the KA Lite exe in the task tray. If then, the user chooses to activate the option `Àuto-start server when KA Lite is run`, should this b

[2016-02-26 14:39] benjaoming commented on #356
@radinamatic `file://` denotes the protocol, the third slash `/` denotes an absolute path.

[2016-02-26 15:11] benjaoming commented on #356
@radinamatic it's a fundamental part of the current automated tests to be able to use local filesystem resources for the assessment zips, so I can't imagine it'd be broken :)

[2016-02-26 15:11] #356 closed

[2016-02-26 16:27] benjaoming commented on #353
@radinamatic you can't write user messages like that, they will end up inside other installation outputs. Take for instance this example: `sudo apt-get install ka-lite some-other-package`, the other package would get installed after ka-lite.

[2016-02-26 17:06] benjaoming commented on #365
Fixed in #367

[2016-02-26 17:06] #365 closed

[2016-02-26 17:06] benjaoming commented on #356
Fixed in #367

[2016-02-26 17:23] benjaoming commented on #326
Works, but made a small tweak in case the directory doesn't exist.

![screenshot from 2016-02-26 18 22 51](https://cloud.githubusercontent.com/assets/374612/13359733/f82271ae-dcb5-11e5-9020-279b3839db57.png)

[2016-02-26 17:24] #326 closed

[2016-02-26 18:27] benjaoming commented on #271
Going to have a look at this!

[2016-02-26 20:13] benjaoming commented on #271
I'm running a Raspbian Jessie and there are no issues with the current init.d script. Downgrading this as a non-blocker unless someone has an opinion otherwise.

[2016-02-27 19:59] benjaoming opened #368 "Put a shell on default kalite user"
## Summary

It doesn't seem terribly admin-friendly, and perhaps a bit too security concerned to not have a shell when creating a new user during install

## Branch or installer

 - Branch: develop (?)

[2016-02-27 22:04] radinamatic opened #369 "KA Lite Monitor app after upgrade"
## Summary

If KA Lite Monitor app is active/open during the upgrade to 0.16, it does not get updated. Once installation finishes and user opens it from the icon in the status bar it will display the older version. When user tries to start the server the app replies with "Starting the server" but then it closes and disappears.
@cpauya

I would recommend adding the step to installer to close the Mo

[2016-02-28 02:02] radinamatic commented on #358
Just to make sure I understand correctly: .pkg installer for OSX does NOT require running `kalite manage retrievecontentpack` afterwards? Because after installing build 66 I run into one missing image in an exercise, which did appear after I run `kalite manage retrievecontentpack local en path-to-en.zip`. Or does build 66 still not include contentpack? Installer is now 410MB and says it will take

[2016-02-29 01:26] cpauya commented on #358
Yes @radinamatic - there's a post-install script that already runs `retrievecontentpack`.  Thanks for the tip re running `retrievecontentpack` again.

I've made the comment about missing images at the PR https://github.com/learningequality/installers/pull/359#issuecomment-188734184

I will try to make it work today.

[2016-02-29 02:06] radinamatic commented on #358
Just wanted to make sure if it needs to be run or not. I'll keep my eye for other missing images just in case!

[2016-02-29 14:17] radinamatic opened #370 "KA Lite Monitor notifications"
## Summary

Since VMs can be slow I don't always follow all the notifications with expectations, but go and multitask while they are working... :wink:

Anyhow, I did notice that the messages `KA Lite stopped` and `You can now open the browser...` sometimes appear when the user is not expecting them. For example:

1. Server is stopped - user opens the menu and chooses `Start KA Lite`
   - first mes

[2016-02-29 14:37] radinamatic commented on #358
Confirmed that image is missing on El Capitan, with build 66 alone @cpauya:

![newton_el_capitan](https://cloud.githubusercontent.com/assets/1457929/13397221/545eb92e-def9-11e5-89cc-2e271952fde5.png)

I guess we should be happy there is an alternative text at least... :smiley_cat:

I'm still trying to figure out the script for [missing assessment items](https://github.com/learningequality/ka-lite/

[2016-02-29 14:49] cpauya commented on #358
I think I have the solution - I did a `manage setup` first then the `manage retrievecontentpack` and that seemed to fix it @radinamatic

Can you please test the latest build 67 at http://dungeon.learningequality.org:8085/browse/KL-MT16-67/artifact and see if it works?

[2016-02-29 14:59] cpauya commented on #370
@radinamatic We use [Licecap](http://www.cockos.com/licecap/) to record a screen activity into a .gif - you have to experiment with your setup which ever works and efficient for you.

Those notifications have been "unreliable" - sometimes some doesn't even show when they're supposed to.

I will check them out tomorrow.

[2016-02-29 15:05] radinamatic commented on #358
Sure... Downloading now! :+1:

[2016-02-29 19:54] radinamatic commented on #366
@MCGallaspy I' not seeing that `Run KA Lite on system startup` is working... :(
Even if I uncheck the respective option (since it's activated by default, but not working), and re-check it, it does open the password confirmation cmd.exe window, but does not install/executes the scheduled task upon restart. I'm unsure where are we at this point.

Another thing that I noticed is that the only thing t

[2016-02-29 20:02] radinamatic commented on #366
Ok, I just figured out something else... The password confirmation cmd.exe window does not tell the user that the password is wrong, and that's why the scheduled task is not installed properly and not working on startup. I just realized that I was doing it with the wrong password! Phew... :relieved:

Do we have option to inform the user that the password is wrong? @MCGallaspy

[2016-02-29 21:56] MCGallaspy commented on #366
Regarding the incorrect password issue, I'll check it out.

Regarding all the options being checked by default -- I assume that they're checked, but that they're not "active" in some sense. Is that the case? For instance, you had to check and uncheck the server start options in order to enable them?

[2016-03-01 19:33] radinamatic commented on #366
Not active at all, at least the first two. All three appear checked when user opens the Options, but the only one that actually works is the third one, namely, the server starts when KA Lite.exe is run from the desktop shortcut. If the user restarts the computer, KA LIte is not run at user login (option 1), and neither server nor KA Lite run at system restart. Their checked state gives user the im

[2016-03-01 19:51] radinamatic commented on #366
Regarding Option 2: it's not working from the get-go, but if you uncheck it and re-check it, it does open the password confirmation cmd.exe window, and (if you give the right password :wink:) it will install/execute the scheduled task upon restart. If this is how we want it to work, we should change the wording, since it does not starts KA Lite.exe, it starts the server in the background.

[2016-03-02 02:54] radinamatic commented on #370
@cpauya Licecap looks like just the right thing, thanks!  :+1:

Did you deactivate notifications completely in build 69? I didn't see any this time...

[2016-03-02 03:16] radinamatic commented on #370
Actually, notification did not appear at all at first run, but did after I installed Spanish contentpack... :confused:

[2016-03-02 06:07] cpauya commented on #370
Nope @radinamatic - I just addressed the issue you reported in this issue about the alert with wrong notifications.

The notifications appearing/not appearing is the "unreliable" scenario that I mentioned earlier.  It sometimes doesn't show the alerts from the app but are recorded at the Notifications Center of OS X.

What I do is launch the Notification Center of OS X - and I can see all of the K

[2016-03-02 11:19] radinamatic commented on #370
Thanks, @cpauya, I'll grab the build 71 once it's ready!

[2016-03-02 19:32] radinamatic opened #371 "Contentpack error on Windows installer (DatabaseError: no such table: updates_updateprogresslog)"
## Summary

It seems necessary to run the server at least once in order to be able to run `kalite manage retrievecontentpack local en` and not get db errors. After a fresh install on Win7 where I tried `kalite manage retrievecontentpack local en` prior to running server for the first time and got errors below. I run the server once, and re-tried  `kalite manage retrievecontentpack` and it finished

[2016-03-02 19:41] MCGallaspy commented on #371
Thanks for the report!

[2016-03-02 23:44] radinamatic commented on #371
Update, hope it helps:

Doing the same on XP, gave a different error:

[code]

[2016-03-02 23:56] radinamatic commented on #371
Hmm... On XP running the server once before installing contentpack locally did not have the same effect. I'm still getting the same error as above, no matter which languagepack I try to install:

[code]

[2016-03-03 01:19] radinamatic commented on #371
XP does seem to have an issue with contentpacks:

- they do not work correctly at install time
- they can't be installed afterwards

[2016-03-03 01:35] radinamatic commented on #371
Difference in locales...?

On this XP:

- I installed the "bare" build 165 installer, and it had errors at the last step, too fast to see
- tried to install en.zip locally, with error 3 posts above
- tried to install contentpacks in other languages, with error 2 posts above
- installed Spanish langpack from Manage > Languages

Lot of content missing here:

![es2](https://cloud.githubusercontent.co

[2016-03-03 02:01] cpauya commented on #370
Update: I have addressed the "unreliable" alert notifications on the https://github.com/learningequality/installers/pull/359#issuecomment-191195606 PR - that should fix this issue too when merged.

[2016-03-03 02:07] radinamatic commented on #371
Last try, `kalite manage unpack_assessment_zip`, same error on XP:

[code]

[2016-03-03 02:35] radinamatic commented on #366
So, for a change, everything here works like charm on XP! :grinning:

- desktop shortcut opens KA Lite task tray, but does not start the server as on Win 7
- all 3 options are deactivated by default upon install
- if the user chooses option 2, they are informed that it's unavailable on XP
-  if the user chooses option 1, KA Lite task tray loads at user login
-  if the user chooses option 3, server

[2016-03-03 02:38] radinamatic commented on #370
Ok @cpauya, is there anything specific to test on build 71, or I better wait for this to be merged?

[2016-03-03 03:06] cpauya commented on #370
Nope, the fixes are already on build 71 @radinamatic.  I'm just making a note here.

So if after your tests of build 71 and these issues are not extant already, I will merge the PR (as discussed with @aron - and since there's no one else to do it), so the fixes goes to the `develop` branch. :smile_cat:

Can you make a comment on the #359 PR if the issues are resolved already as per your tests?

[2016-03-03 03:15] cpauya commented on #349
Just a note here that we now use the `IS_KALITE_RELEASE` environment variable on `build.sh` as per #359 PR to determine if to sign the .app and the .pkg packages.  Of course the signing machine (Bamboo, CircleCI, local, etc) must have the signing certificates for this to succeed.

This will address the comment made by @MCGallaspy regarding "we may not wish to sign provisional builds from the build

[2016-03-07 22:55] radinamatic commented on #370
@cpauya: the 2 cases I described above now seem to be behaving correctly! :+1:

One thing that remains is a `Stopped` notification after KA Lite is loaded from the Launchpad:

![ka-stopped](https://cloud.githubusercontent.com/assets/1457929/13586125/83a53e12-e4bf-11e5-829e-52be3665b984.gif)

Could you change that  `Stopped` into `You can start/stop the server from the status icon`?

[2016-03-09 00:07] jtamiace opened #372 "Antivirus software may auto-quarantine KA Lite.exe on Windows installer"
## Summary

Had some trouble getting KA Lite installed on Windows 10, specifically because Bitdefender (antivirus software) thought KA Lite.exe was a threat. It was only after disabling it (thanks @MCGallaspy ) that I was able to install.
## Branch or installer
- Installer: Windows
- Version: 0.16
## Screenshots

![windows 0-16 installer](https://cloud.githubusercontent.com/assets/6668144/13620825

[2016-03-09 19:52] jamalex opened #373 "Higher-priority OSX installer tweaks"
## Summary

- [x] At the end of the beautiful installer GUI wizard, tell the user what to do next. E.g. "Now that KA Lite is installed, you can start/stop the server, and launch the browser, from the leaf icon in your task tray" (or whatever that row of little icons is called on a Mac)
- [x] Launch the KA Lite app as soon as the installer finishes.
- [x] Auto-start the server whenever the KA Lite

[2016-03-09 20:36] MCGallaspy commented on #371
Ah, I forgot that you made this report! But this is fixed in #374

[2016-03-09 20:50] MCGallaspy commented on #371
Hm, except possbily for the issue with XP you identify.

[2016-03-09 20:53] radinamatic commented on #371
Yes, better to leave it open until it's confirmed on XP.

[2016-03-10 00:22] cpauya commented on #370
Hi @radinamatic - Thanks for the update.  I'll work on this after my [release blockers](https://github.com/learningequality/installers/issues?q=is%3Aissue+label%3A%22release+blocker%22+is%3Aopen) tasks.

[2016-03-10 00:25] cpauya commented on #373
Thanks for checking it out @jamalex - will prioritise these today.

[2016-03-10 00:50] radinamatic commented on #370
:+1: @cpauya, this one is minor annoyance in comparison!

[2016-03-14 14:05] radinamatic commented on #371
Still extant on Windows 8.1 with build 176 @MCGallaspy! #374 is merged, did it make into that build?

[code]

[2016-03-14 16:57] MCGallaspy commented on #371
Did the installer fail to unpack the content pack? Note that you shouldn't need to run the command `retrievecontentpack` yourself after installation, but if you do for some reason it *will* fail unless you include the `--foreground` option. That's the fix incorporated by #374.

[2016-03-14 17:08] radinamatic commented on #371
Installer did not fail, it was my bad, I re-run the `retrievecontentpack` and did not include the `--foreground` option. The first try (after install, before running the server once) locally failed, second (after running server once) didn't. So I basically installed English contentpack twice... :stuck_out_tongue:

We should document this option, for users who will install contentpacks for other la

[2016-03-14 17:16] MCGallaspy commented on #371
Yes, can you open an issue on the ka-lite repo?

[2016-03-15 02:03] cpauya commented on #373
Hi @jamalex - I've tried customising the GUI wizard dialog but can't find an easy way to insert the text to "tell the user what to do next".

So I moved to the following tasks instead:

* [x] Auto-load the KA Lite app on login (we don't do this from originally, but it can be set on the Preferences dialog)
* [ ] Launch the KA Lite app as soon as the installer finishes.
* [ ] Auto-start the server w

[2016-03-15 20:14] #371 closed

[2016-03-18 04:28] djallado commented on #369
@radina and @cyril, I also tested the upgrade using 0.15.1 to build 80 from Dungeon on OS X Yosemite the same process above. When the installation finishes and when I refresh my browser or click on ‘’Open in Browser” it will not display anything. When I click on “Stop KA Lite”, the notification icon is blank and it will not stop I need to quit the serve and launch it again.
The dock icon for "KA L

[2016-03-18 10:19] radinamatic commented on #369
@djallado Thanks for confirming this! :+1:

@cpauya Is it possible for 0.16 installer to check & close the Monitor if it is opened prior to starting the actual upgrade process, as I suggested above? Or any other ideas you may have to prevent this issue...? :smiley:

[2016-03-18 13:56] cpauya commented on #369
Hi @radinamatic - it's not "recommended" to just quit an application when it's loaded.  Data may get corrupted or there's no way to validate that quitting it will not corrupt anything.

The way VirtualBox does it is to run a script before continuing the installer to check if VirtualBox is loaded and it will prompt the user to close it first.

![virtualbox](https://cloud.githubusercontent.com/asset

[2016-03-18 14:04] radinamatic commented on #369
@cpauya your proposal sounds like a good workaround! :+1:
@aronasorman thoughts?

[2016-03-18 17:11] radinamatic commented on #366
New piece of information, after testing upgrade scenarios on Windows 7: the original issue (all 3 options activated by default) seems valid ONLY on fresh 0.16 install, but in case of upgrading from previous version (0.14 or 0.15 at least, doing the 0.13 now, will confirm), everything works as intended.

Not sure I can make much sense of it myself, but you might, so I'm leaving it here for the reco

[2016-03-19 03:07] cpauya commented on #373
Hi @jamalex / @radina - pls use the [build 89 at Bamboo](http://dungeon.learningequality.org/browse/KL-MT16-89) to test this issue.

[2016-03-19 03:08] cpauya commented on #370
Hi @radina - pls use the [build 89 at Bamboo](http://dungeon.learningequality.org/browse/KL-MT16-89) to test this issue.

[2016-03-19 03:14] cpauya commented on #369
Hi @radina - pls use the [build 89 at Bamboo](http://dungeon.learningequality.org/browse/KL-MT16-89) to test this issue.

[2016-03-21 04:16] amodia commented on #373
@cpauya I tested the [build 89 at bamboo](http://dungeon.learningequality.org/browse/KL-MT16-89) on OS X mavericks. The first installation will fail.

Here's the screenshot.
![screen shot 2016-03-21 at 11 59 58 am](https://cloud.githubusercontent.com/assets/8663934/13910511/5a607f72-ef5e-11e5-95f2-7e4cc389759d.png)

[2016-03-21 04:26] djallado commented on #373
I tested this also and here's the screenshot with console logs.
![fail](https://cloud.githubusercontent.com/assets/8664071/13910582/8fa01890-ef5f-11e5-853e-8d5bcbe81a04.png)

[2016-03-21 04:46] cpauya commented on #373
Thanks for the test @amodia / @djallado - will submit a fix after testing today.  @radinamatic Please hold-off in testing this.

[2016-03-22 05:59] cpauya commented on #373
Please use [build 93 on Bamboo](http://dungeon.learningequality.org/browse/KL-MT16-93) to test this.

/cc: @radinamatic @aronasorman

[2016-03-22 06:59] djallado opened #377 "No language pack available in 0.16.x."
## Summary

No language pack available when user click on `Select language pack` dropdown list.
Using `OS X Yosemite` and `Safari` browser.

## Branch or installer method

*Please specify if you are using the current `develop` branch or which installation source you were using when the issue occurred.*

 - Installer: OS X
 - Version: 0.16.x

or:

 - Branch: 0.16.x

## How to reproduce

1. Login as

[2016-03-22 07:09] #377 closed

[2016-03-23 04:07] amodia opened #379 "Icon sets for menu bar icons that applies to OS X, Windows, and Debian apps."
## Summary
Create a standard icon sets for KA Lite installers.

## installer

 - Installer: Windows/OS X/Debian
 - Version: 0.17.x

[2016-03-23 06:23] djallado opened #380 "Processing icon is not changing when setting the KA-Lite data path in preferences dialog."
## Summary

When setting up KA-Lite data path, the icon must change depending on the KA-Lite status.

## Branch or installer

 - Installer: OS X build 95 from [dungeon](http://dungeon.learningequality.org/browse/KL-MT16-95)
 - Version: 0.16.x

or:

 - Branch: develop

## Screenshots
![icon12345](https://cloud.githubusercontent.com/assets/8664071/13977007/491e6a78-f100-11e5-92ea-2c15fa82319f.gif)

[2016-03-23 10:12] cpauya commented on #380
@amodia / @djallado Can you test [build 96 on Bamboo](http://dungeon.learningequality.org/browse/KL-MT16-96) to check if this is fixed before I merge #378?

[2016-03-26 13:45] cpauya commented on #333
Fixed in #334.

[2016-03-26 13:45] #333 closed

[2016-03-26 13:48] cpauya commented on #208
This was already fixed in the `develop` branch.

[2016-03-26 13:48] #208 closed

[2016-03-27 02:15] cpauya commented on #369
We now do it like VirtualBox does it! :smile_cat:

@radinamatic Please use [build 100 on Bamboo](http://dungeon.learningequality.org/browse/KL-MT16-100) to test this.

[2016-03-28 01:33] cpauya commented on #358
This is [already implemented](https://github.com/learningequality/installers/blob/develop/osx/post_installation.sh#L209) on the `develop` branch.

[2016-03-28 01:33] #358 closed

[2016-03-28 02:31] cpauya commented on #120
We've fixed this for the upcoming 0.16 release.  We've reduced the startup time to a few seconds only!

Check-out the `develop` branch for the fixes.

[2016-03-28 02:31] #120 closed

[2016-03-28 02:34] cpauya commented on #98
PyRun will still be used for release 0.16.  Moving this to 0.17.

[2016-03-28 02:37] cpauya commented on #100
As of 0.16, the issues reported here like the video and language pack downloads are already working.

Let's re-open this in case the issue pops-up again.

[2016-03-28 02:37] #100 closed

[2016-03-28 02:40] amodia commented on #380
@cpauya & @djallado I tested this on build 100 from the dungeon. the processing icon work properly.

![a-temp](https://cloud.githubusercontent.com/assets/8663934/14069821/5f0a7adc-f4d1-11e5-997d-993250851058.gif)

[2016-03-28 02:45] cpauya commented on #379
@amodia There's already a reported issue #6 about this.  Let's close this as duplicate.

[2016-03-28 02:45] #379 closed

[2016-03-28 03:03] cpauya commented on #380
Thanks for verifying @amodia, closing.

[2016-03-28 03:03] #380 closed

[2016-03-28 05:51] djallado commented on #104
I can't replicate this issue on the latest build of KA Lite. We can close this now.

[2016-03-28 05:59] #104 closed

[2016-03-29 02:56] cpauya opened #382 "OS X build script fails on missing sphinx module."
## Summary

The OS X build script fails because of a missing `sphinx_rtd_theme` module.

## Branch method

 - Branches: `installers/develop` and `ka-lite/0.16.x`

## Traceback

http://dungeon.learningequality.org/download/KL-MT16-JOB1/build_logs/KL-MT16-JOB1-102.log

[code]

## How to reproduce

1. Go to Bamboo server and re-run the build plan at http://dungeon.learningequality.org/browse/KL-MT16

[2016-03-29 10:55] cpauya commented on #382
This is already fixed on #383.  Test with http://dungeon.learningequality.org/browse/KL-MT16-105

[2016-03-29 10:55] #382 closed

[2016-03-30 08:25] djallado opened #384 "Learner's score is not recorded using IE10 Windows 7."
## Summary

*Learner's score is not recorded using IE10 Windows 7, but when the learner use Google Chrome version 49.0, the score is recorded properly*

## Branch or installer

*Did issue occur on the current `develop` branch or on installation source (please specify OS and version)?*

 - Installer: Windows
 - Version: 0.16.x using [build 208](http://dungeon.learningequality.org/browse/KL-KALITE01

[2016-03-30 09:36] djallado opened #385 "Provide a progress indicator on windows installation"
## Summary

*User may close the terminal during installation and may cause the `KA Lite` become problematic. It's good to put a progress indicator during installation of `KA Lite`  and don't show the terminal window anymore.*

## Branch or installer

*Did issue occur on the current `develop` branch or on installation source (please specify OS and version)?*

 - Installer: Windows
 - Version: 0.16.

[2016-04-02 17:08] ruimalheiro commented on #385
Hi @djallado ,

The thing here is that the installer doesn't check for the return codes of each program it calls, which basically means that the installer doesn't have control over the external calls and it proceeds assuming everything went OK.

I think the right solution here would be to give the installer control and hide the cmd window and instead show a progress indicator (as you suggest), as

[2016-04-03 09:34] MCGallaspy commented on #385
So I've tried two different approaches with the windows installer, and I feel both have significant drawbacks:

1. Hide the cmd prompt so the user can't inadvertently cancel it. But then some of these external calls are very long running, and the installer wizard gives no indication of progress. It gives the user the impression that something is wrong.
2. Showing the cmd prompt creates the possibi

[2016-04-03 13:46] elvistek commented on #106
I have installed ka lite v 0.15.1 on a raspberry pi and gone through the process as expressed in [http://ka-lite.readthedocs.org/en/0.15.x/installguide/install_all.html#raspberry-pi ](url) but teh server will not start when the pi is booted. What can the problem be?

I had some problems during installation but running `kalite manage setup` fully completed the installation and i can connect other d

[2016-04-03 18:34] jamalex commented on #385
Agreed, and then the GUI could be updated to read that output as well, and show its own progress bar or "status", without needing to pop up new windows.

It's also about continuity -- if the install started in a console, it makes sense to have progress shown there. If the install is happening within the context of a GUI, popping up a separate (very different) window breaks up the seamless install

[2016-04-13 21:47] benjaoming commented on #353
Not sure where this one landed, @radinamatic do you think we can close it?

[2016-04-13 22:25] benjaoming commented on #314
Introducing a new proxy `kalite` command seems at this point of eternal "feature freeze" unlikely to happen.

As an alternative, I would like to implement a policy within the upstream `kalitectl.py` to never allow it to run as admin user, but I'm aware of a certain implementations that does this, so I vouch we don't do that.

Instead, I think we should accept that `bin/kalite` as it is will compla

[2016-04-13 22:25] #314 closed

[2016-04-13 22:27] benjaoming commented on #192
Still lacks input, however should be safe to assume that loading topic and assessment item data will no longer time out since the server-side has much less work after the whole SQLite database overhaul in 0.15 and 0.16.

[2016-04-13 22:27] #192 closed

[2016-04-13 22:30] benjaoming commented on #50
Because of the "maintenance mode" of KA Lite, it should be safe to assume that this "nice to have" improvement will not be done. It would affect the build process as it would require for compiled code to enter the installers. Should be safe to assume that won't be possible to prioritize, and probably won't be an acceptable change.

However, as stated, the main target for performance issues, Raspbe

[2016-04-13 22:30] #50 closed

[2016-04-13 22:45] jamalex opened #387 "Uninstalling KA Lite on Windows doesn't uninstall ka-lite-static"
## Summary

Uninstalling KA Lite on Windows (via the GUI approaches) seems to leave the python module behind. Not sure the full implications of this (other than not freeing up disk space, and possible issues with later reinstallations?), but figured it was good to note here, especially if it helps inform approaches to building Kolibri installers for Windows.
## Branch or installer
- Installer: Win

[2016-04-13 22:48] benjaoming commented on #315
Sorry about the new silly branch.. the change is pretty straight-forward so possibly just merge and delete the branch after.

[2016-04-13 22:58] benjaoming opened #388 "Debian installer should use content packs"
## Summary

We are currently running with a legacy specail-built assessment.zip for the Debian installer.

We need to update this behavior in the debian source scripts and remove the bundled assessment db from the sdist. This is an issue for 0.17.

[2016-04-13 23:07] radinamatic commented on #353
@benjaoming Yes, I think we can close this.

Output could be slightly more user-friendly for a non-admin level user, but if it's not possible to insert some kind of output like the one I suggested above, I'm short of ideas... :stuck_out_tongue:

[2016-04-15 03:45] mrpau-richard opened #389 "Verify if the pkg is corrupted before installing."
## Summary

`pkg` need to verified before the installation.
## Branch or installer
- Installer: OS X
- Version: 0.16.2
## Screenshots

Before installation it must check if the pkg is not corrupted.
![screen shot 2016-04-15 at 11 20 22 am](https://cloud.githubusercontent.com/assets/8663934/14550753/18f85cc2-02fe-11e6-96af-7c7bccadf40b.png)

Corrupted pkg will failed during installation.
![screen sh

[2016-04-15 10:38] cpauya commented on #389
We've experienced this today when we've downloaded the Bamboo builds using our mobile internet.

Run `pkgutil --check-signature ./KA-Lite.pkg` to check a .pkg.

This is the output if the .pkg is NOT corrupted:
[code]
If it emits anything else, like "checksum is invalid" -- means the .pkg downloaded is corrupt.

[2016-04-15 13:27] benjaoming opened #390 "Ubuntu 16.04"
## Summary

Very soon, 16.04 will be out, and it would be nice for our installer to work from Day 1.

@radinamatic would you be able to run the latest 16.04 beta release and see which issues come up?

We should release a fixed deb of 0.16 as soon as we know what the issues possibly are.

[2016-04-18 11:03] benjaoming commented on #368
Added in #367 and released in 0.16.2.

[2016-04-18 11:03] #368 closed

[2016-04-18 15:25] #353 closed

[2016-04-19 17:46] rtibbles commented on #385
:+1:

[2016-04-20 12:44] benjaoming commented on #315
Fixed in #367

[2016-04-20 20:11] benjaoming commented on #304
Will be fixed in #367

[2016-04-20 22:55] #315 closed

[2016-04-20 22:55] #304 closed

[2016-04-20 23:31] benjaoming commented on #390
Tested on 16.04, no issues :tada:

[2016-04-20 23:31] #390 closed

[2016-04-25 16:32] benjaoming opened #393 "Debconf assessment item URL not reset during upgrade"
## Summary

Assessment item URL was not reset from previous installation, still asking to download the 0.15 items.

## Branch or installer

0.16.3-ubuntu1

Installing with gdebi.

[2016-04-25 16:34] benjaoming commented on #393
Not sure exactly why this is happening, I think I will have to write a test case to resolve it.

[2016-04-26 14:43] benjaoming opened #394 "Raspberry Pi nginx conf serving wrong assessment item static dir"
## Summary

`/content/khan` is now `/content/assessment/khan`, and so now viewing exercises is broken in `ka-lite-raspberry-pi`, affects any version released since 0.16.0.

[2016-04-29 20:25] #394 closed

[2016-04-29 20:25] #393 closed

[2016-05-13 05:26] arceduardvincent opened #396 "Debian Build Script for KA-Lite Installer"
## Summary

**Problem**

- There is no build script to automate the process to create the *.deb files.

**Objectives**
- To create a debian build script that automate the docker image to produce *.deb files.
- Create a signed deb file.
- Run the build script in the bamboo server.

## Branch or installer

 - Installer: `Debian`
 - Branch: `master`

[2016-05-25 10:18] djallado opened #398 "Update the instructions in building "KALiteSetup.exe" in windows README."
## Summary

`LicenseFile=..\ka-lite\LICENSE` in the KaliteSetupScript so it's right to add another step to clone `ka-lite` repository and put it in windows directory.

## Branch or installer

 - Installer: Windows
 - Version: 0.16.x

or:

 - Branch: master

[2016-05-25 16:44] #398 closed

[2016-06-06 09:25] mrpau-richard opened #400 "Contentpacks exercise images are not properly loaded."
## Summary

Contentpacks for non-english exercise images are not properly loaded, when another user account of the same machine use KA Lite application and download non-english language contentpacks.
## Branch or installer
- Installer: Windows
- Version: 0.16.5.0
## How to reproduce
1. Install KA Lite in user account A.
2. Create another user account B and log in.
3. On user account B, use existin

[2016-06-08 20:42] arceduardvincent opened #401 "Pyrun failed to install setuptools."
## Summary

Pyrun failed to install `setuptools`  when building KA-Lite OS X installer.

## Branch or installer

 - Installer: `OS X`
 - Version: `master`

## Screenshots

![screen shot 2016-06-09 at 4 24 15 am](https://cloud.githubusercontent.com/assets/4099119/15909702/1d2941cc-2dfa-11e6-9fc5-9df52d3a8dac.png)

## How to reproduce

1. Navigate to `~/installers/osx/`
1. Run `./build.sh`
1. Notice

[2016-06-16 20:39] djallado opened #405 "Footer shows inappropriate version"
## Summary

The KA Lite version is still 0.16.3 and year is 2015.

## Branch or installer

 - Installer: OSX
 - Version: 0.16.x

or:

 - Branch: 0.16.x

## Screenshots
![footer](https://cloud.githubusercontent.com/assets/8664071/16132076/4b5349d0-3444-11e6-93c0-e8ef9782721f.png)

## How to reproduce

1. Install KA Lite installer from http://dungeon.learningequality.org/browse/KL-MT16-145
1. After

[2016-06-17 12:56] djallado commented on #405
The PATCH_VERSION = “3” `in version.py` If we download the source file via zip https://github.com/learningequality/ka-lite/archive/0.16.x.zip.

But on  https://github.com/learningequality/ka-lite/blob/0.16.x/kalite/version.py#L10
the PATCH_VERSION = “6"

In master branch if we download zip file, the PATCH_VERSION = “3” `in version.py`.

[2016-06-17 13:54] benjaoming commented on #405
@djallado I can confirm that what you see is how things are.

This is because 0.16.6 was halted in the release process so the source on Github is actually the final source, however as we are waiting for data contents to be finalized we weren't able to release the final installers for OSX / PyPi / Windows / Debian.

I've opened up this issue to help lessen the confusion in the future:

https://gith

[2016-06-17 13:54] #405 closed

[2016-06-18 01:12] djallado opened #408 "Clicking icon to run KA Lite app does not pop up task tray or give feedback that it did something."
## Summary

by: @jtamiace
Windows 8.1

"It wasn't until I checked the icon tray after clicking the KA Lite app icon multiple times that I saw that it had done something. Should the icon tray pop up right away since it wasn't too apparent that it had done something to the task tray?"

"There were also as many icons as the number of times that i clicked on the app:"
![multiple](https://cloud.githubu

[2016-06-21 14:11] benjaoming opened #409 "Latest windows installer seems broken"
## Summary

Continued from learningequality/ka-lite#5177

![image](https://cloud.githubusercontent.com/assets/8449485/16176429/7bf72cd0-35cc-11e6-80d7-2bbdc8e12c4a.png)

## Installer

*Please specify if you are using the current `develop` branch or which installation source you were using when the issue occurred.*
 - Installer: Windows 7 pro 64-bit
 - Version: 0.16.6

 - Branch: develop (?)

[2016-06-21 17:58] benjaoming commented on #409
Fixed!

Record keeping: The problem was due to a broken content pack in the Windows installer.

[2016-06-21 17:58] #409 closed

[2016-07-18 21:24] #396 closed

[2016-08-02 14:04] benjaoming commented on #230
These issues are solved in

https://github.com/learningequality/ka-lite/pull/5227
https://github.com/learningequality/ka-lite/pull/4794

[2016-08-02 14:04] #230 closed

[2016-08-02 16:02] benjaoming commented on #231
Hi @EdDixon - hope you're good man, it's been way too long!!

This issue was most likely caused because the `kalite start` subcommand or `status` command was taking time to respond. Newer versions of ka-lite-gtk does not lock up but uses a background thread to monitor the results :)

[2016-08-02 16:02] #231 closed

[2016-08-02 16:03] benjaoming commented on #401
Is this issue fixed now that the PRs have been merged?

[2016-08-02 16:06] arceduardvincent commented on #401
Yeah this issue is already fixed.

[2016-08-02 16:10] benjaoming commented on #251
I think we can remove this issue, as it relates to the source package. The use case is also rather narrow, but in a broader sense, we need a "cleanup" command that can delete unused videos which will eventually occur if you upgrade from one KA Lite to another or if you just wanna copy in the videos that were downloaded last year.

But as KA Lite is going into "legacy mode", it's unlikely this can

[2016-08-02 16:10] #251 closed

[2016-08-02 16:14] #320 closed

[2016-08-02 16:15] #401 closed

[2016-08-02 16:16] benjaoming commented on #206
So this is solved, great, go team :)

[2016-08-02 16:16] #206 closed

[2016-08-02 16:19] benjaoming commented on #158
All this is now also in a Gdrive document and should ideally just be maintained there.. and in the Bamboo scripts!

In the meantime, I don't see that the original summary by Mike has changed, it's still how we do things, although Bamboo has now taken over most tasks.

Closing this, go team, great work!!

[2016-08-02 16:19] #158 closed

[2016-08-02 16:23] benjaoming commented on #106
@elvistek I hope you've solved your problem in the meantime.. but this thread is for a Windows issue :)

You should run this command `sudo echo "pi" > /etc/ka-lite/username` and try running the server again, as the command line output says, you have configured your system to use some user account "tekdgyg" as the default user for KA Lite, I suspect that's your issue...

[2016-08-02 16:27] benjaoming commented on #106
@EdDixon has hinted that some of the very very old bat scripts might have worked and some sort of regression has been introduced when moving functionality into the installer:

[2016-08-02 16:28] benjaoming commented on #25
All these scripts are gone and deleted! So it can't possibly rely on them, otherwise it's broken :)

Closing this for now and moving @EdDixon 's latest comment to #106

Great work everybody! :)

[2016-08-02 16:28] #25 closed

[2016-08-02 16:31] benjaoming commented on #106
Also https://github.com/learningequality/installers/pull/322#issuecomment-169119018 :

[2016-08-02 16:32] benjaoming commented on #94
The bulk of this should be gone, from @radinamatic 's feedback it seems there might still be an issue for Windows XP, but we have no such reports as of now.. so I'm going to assume it's also fixed on XP.

Feel free to open up a new issue @radinamatic if this is something you still see on XP!

Great work all :)

[2016-08-02 16:32] #94 closed

[2016-08-05 01:04] radinamatic commented on #106
Wow, this issue was a nightmare to debug back then... :imp:

I can't test in XP anymore, but in Win 7 it's possible to make KA Lite run on startup, though with a convoluted workaround. For some reason I never understood, all three options in the task tray contextual menu start by being activated by default upon install, and even if the user unchecks them, they are going to be there upon reboot. Ho

[2016-09-09 07:21] mrpau-eduard opened #412 "Release notes for 0.16.9"
## Summary

Update the release notes for documentation for every fix and new implementation.
## Branch or installer
- Installer: `OSX`
- Branch: `0.16.x`

[2016-09-09 18:06] benjaoming commented on #396
Duplicate of #149

[2016-09-09 18:37] benjaoming commented on #373
@cpauya this seems fixed? :)

[2016-09-09 18:38] benjaoming commented on #369
this seems fixed? :)

[2016-09-09 18:40] benjaoming commented on #272
@cpauya -- I could identify this as a possibly fixed / possibly remaining issue?

Otherwise, this could be closed? :)

[2016-09-09 18:41] benjaoming commented on #114
Hurray, this is fixed :) Great work!

[2016-09-09 18:41] #114 closed

[2016-09-09 18:44] benjaoming commented on #6
The Ubuntu/Debian part of this issue is tracked here (although it hasn't been worked on)

https://github.com/learningequality/ka-lite-gtk/issues/3

Aside from that, I guess that since both OSX and Windows have task tray / menu items, we should close this issue and open up separate issues regarding specific bugs or design changes.

[2016-09-09 18:44] #6 closed

[2016-09-09 18:50] benjaoming commented on #384
Closing this as it's opened in the source repo.

[2016-09-09 18:50] #384 closed

[2016-09-09 18:53] benjaoming commented on #372
I wonder what file it tries to copy/move that triggers the antivirus to block it...

Other than that, if people are running anti-virus, I guess they should also be aware that it may cause problems during installation of software?

Unless we know that we're doing something we shouldn't I think we shouldn't spend too much time on this...

[2016-09-09 18:56] benjaoming commented on #125
Hmm, wondering if we should open an issue regarding PEX and then list the currently open pypy issues in the new issue as requirements for the new PEX build? @cpauya @aronasorman

[2016-09-09 18:57] benjaoming commented on #98
Is this going to be using PEX?

[2016-09-12 01:41] cpauya commented on #369
Ah yes @benjaoming, closing this now.  Thanks. 😸

[2016-09-12 01:41] #369 closed

[2016-09-12 01:42] cpauya commented on #373
Yes @benjaoming - closing now, thanks. 😸

[2016-09-12 01:42] #373 closed

[2016-09-12 02:24] cpauya commented on #125
That's a good idea @benjaoming - @mrpau-richard will open an issue re use of PEX.

[2016-09-12 09:16] mrpau-richard commented on #125
@benjaoming I created an issue regarding on PEX https://github.com/learningequality/ka-lite/issues/5274

[2016-09-13 00:16] mrpau-richard opened #417 "Using built PEX file in KA Lite installers."
## List of issues that will be fix using built KA Lite PEX file.
### KA Lite Installers issues.
1. [# 125 - Kill existing pyrun activity when resetting the kalite-monitor app](https://github.com/learningequality/installers/issues/125)
2. [# 98 - Drop Pyrun on OS X Installer and replace it with virtualenv.](https://github.com/learningequality/installers/issues/98)
### KA Lite issues.
1. [#5264 - Do

[2016-09-19 15:54] benjaoming opened #418 "Debian installer does not remove pyc files in /usr/share/kalite"
## Summary

Upgrades seem to be broken because of the change in requests version. The underlying problem is that there are lingering *pyc files.

This is because of a simple typo.

## Branch or installer

 - Installer: Debian

Related:
https://github.com/learningequality/ka-lite/issues/5277

[2016-09-19 19:00] benjaoming commented on #418
Fixed in #420

[2016-09-19 19:00] #418 closed

[2016-09-21 12:08] benjaoming commented on #271
Here's a pattern we can copy to have both init.d and systemd scripts alongside:

http://sources.debian.net/src/thinkfan/0.9.2-1/debian/rules/

Thanks to the debian-systemd IRC channel :)

[2016-09-21 12:29] benjaoming commented on #271
One important thing though will be to ensure that `init-system-helpers` are installed on all target platforms.

[2016-09-22 09:28] benjaoming commented on #271
Auto-generated ka-lite.service file by Raspbian's systemd-sysv-generator:

[code]

[2016-09-22 11:03] benjaoming commented on #271
This systemd bug is in the Wild, meaning that vanilla Raspbian installations without updates suffer from it: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=825913

The only solution is to start distributing a systemd startup service as the above.

[2016-09-26 20:36] benjaoming commented on #271
Fixed in #422 - released in 0.16.9-ubuntu3

[2016-09-26 20:36] #271 closed

[2016-10-02 11:09] benjaoming opened #424 "Updating Windows installer for 0.17"
## Summary
- [ ] `compileymltojson` is no longer a command
- [ ] Docs are built into static-libraries/docs with the `make docs` target, this should be invoked or copied into the `bamboo-build.sh` script?
- [ ] Test that the `kalite.bat` executable still works.
- [ ] Use the new auto-discovered content pack (optional)
## Version
- Installer: Windows
- Version: 0.17b1

[2016-10-02 13:41] benjaoming commented on #424
Btw. try to see if the Windows installer can bundle the .whl build instead of the tarball?

[2016-10-03 09:14] mrpau-richard commented on #424
@benjaoming I think we can use the .whl build in `KA Lite` windows because We already did it in `Kolibri` windows installer.

[2016-10-03 09:52] mrpau-eduard commented on #424
@benjaoming I try to run `make dist` command so that I can generate `.whl` file. I encountered an issue:
[code]

[2016-10-03 10:12] mrpau-eduard commented on #424
@benjaoming I get it now. I forgot to issue `pip install -e .` to install `kalite` in my virtualenv.
Its building now a `.whl` file.

[2016-10-04 16:23] julianharty opened #426 "OSX installer claims it's 0.16.0 not 0.16.9"
## Summary

## Version
- Installer: OSX
- Version: 0.16.9
## Traceback or server.log snippet

[code]
## Screenshots

Attached.
## How to reproduce
1. Run KA-Lite-0.16.9.pkg
2. Check the text in the opening screen.
   <img width="617" alt="screen shot 2016-10-04 at 17 21 49" src="https://cloud.githubusercontent.com/assets/785891/19082680/1794c8ee-8a57-11e6-8893-59a77c12ec74.png">

Please can you en

[2016-10-04 23:07] cpauya commented on #426
Thanks for reporting this @julianharty

[2016-10-04 23:29] benjaoming commented on #426
Yup, can confirmed I've observed this -- possibly for all of the OSX installers. It's only during installation though, but still confusing.

[2016-10-07 13:54] benjaoming commented on #412
Related: #426

[2016-10-07 13:56] benjaoming commented on #400
This will be fixed by #424 in case we start using well-known contentpack zip locations because then they will be extracted as user data and not reside in a possibly unreadable shared system dir.

[2016-10-11 12:35] benjaoming commented on #388
Fixed in #425

[2016-10-11 12:35] #388 closed

[2016-10-11 12:38] benjaoming commented on #286
Wishful thinking, closing this, might be something to remember for the Kolibri installer later on.

[2016-10-11 12:38] #286 closed

[2016-11-17 09:56] benjaoming commented on #106
@mrpau-dev following up on Radina's more thorough input on this issue, would you be able to make improvements to this? Maybe in by prioritizing in this order: Windows 10, 8, 7.

We could even skip XP since at this point running KA Lite on XP may already require some kind of DIY/technical skill :)

[2016-11-17 12:45] radinamatic commented on #106
I would much rather see the balloon notifications enabled again in XP, then the start-on-boot option (since there is a workaround for it).

[2016-11-21 13:05] benjaoming opened #428 "Windows 8 installer: Sever is not running and has been grayed out"
_From @BabluKumar17 on November 6, 2016 3:36_

## Summary

I successfully downloaded KA Lite first time in Windows and then when I ran it as an administrator it asked for a password and I typed in my password in cmd.  But I noticed in the nofication, the **Start Server** has been grayed out.

## System information

*Please specify the KA Lite version you were using and your operating system!*

 -

[2016-11-21 13:05] benjaoming commented on #428
_From @radinamatic on November 7, 2016 8:2_

Hi @BabluKumar17!

Please confirm that you installed the latest release 0.16.9 of KA Lite!

Did you see a Windows Firewall notification about giving permission for a Python process when you tried to run KA Lite the first time after the installation? If the `python.exe` process is not permitted to run, KA Lite server will not start.

Do you see any `pyth

[2016-11-21 13:05] benjaoming commented on #428
_From @BabluKumar17 on November 9, 2016 12:14_

@radinamatic: Thanks for your help.
I tried your approach too. But, unfortunately nothing worked.  I have also turned off my firewall but I do not see any **python.exe** file running in **Task Manager**.

[2016-11-21 13:08] benjaoming commented on #428
It seems important to look at the reason for this issue - all options appear to be greyed out, but there's no user feedback explaining why.

IMO, the first step is to ensure that *when* this and other errors happen, there is a message box, log file or some other user-oriented feedback that explains what's going on :) Otherwise it's really hard both for the users and for us devs.

Would you be able

[2016-11-21 13:37] radinamatic commented on #428
@BabluKumar17
I just installed 0.16.9 on a fresh Windows 8.1 virtual machine. This is the screenshot of the Firewall alert that you need to accept upon KA Lite installation:

![virtualbox_ie11 - win8 1_21_11_2016_14_22_55](https://cloud.githubusercontent.com/assets/1457929/20484504/c68fa164-aff7-11e6-9a41-366122b2983d.png)

And you should have 2 python processes running together with KA Lite:

![v

[2016-11-21 15:54] benjaoming commented on #428
@radinamatic - curious: What are the symptoms, when you /don't/ accept it? :)

[2016-11-21 16:06] radinamatic commented on #428
@benjaoming I'm not in front of that VM at the moment to retest, but if I recall well from past testing, they correspond roughly to what this user described, namely, options to Start/Stop the server would be grayed out in the KA Lite notification area menu.

[2016-12-22 07:30] mrpau-richard commented on #424
fixed in #427

[2016-12-22 07:30] #424 closed

[2017-01-04 15:32] radinamatic commented on #408
Fixed in #432, but I can't seem to close issues since the repo name change...
@aronasorman can I have my perms back? 😛

[2017-01-12 05:23] mrpau-richard commented on #387
fixed in #431

[2017-01-12 05:24] #387 closed

[2017-01-12 05:28] mrpau-richard commented on #408
Fixed in #432, Closing this issue.

[2017-01-12 05:28] #408 closed

[2017-02-02 19:40] benjaoming opened #438 "Use well-known location for bundled English content pack"
## Summary

This is already done in the `ka-lite-bundle` Debian package. Basically, just install the content pack as described in the release notes:

...it will also install the preseeded content pack automatically when running KA Lite for the first time, which will trigger `setup` to run automatically.

## Version

 - Installer: Windows/OSX
 - Version: 0.17.0

[2017-02-02 20:30] benjaoming commented on #412
Hi @mrpau-eduard @mrpau-richard is this one something we should close?

[2017-02-02 20:31] benjaoming commented on #417
Since this is merged for the 0.17 pre-releases, maybe we can close this and also have a look at all the related issues?

[2017-02-02 20:35] benjaoming commented on #400
I'm closing this in favor of moving to a common-for-all-installers approach as mentioned in #438.

[2017-02-02 20:35] #400 closed

[2017-02-02 20:38] benjaoming commented on #347
This maybe be too optimistic, but as I read the comments, in #335 this is likely related to the server already running, so if we solve #351, this might go away.

In any case, it's related to an older installer.

[2017-02-02 20:38] #347 closed

[2017-02-03 05:10] mrpau-eduard commented on #412
Yeah, It should be clossing it now.

[2017-02-03 05:10] #412 closed

[2017-02-03 05:52] mrpau-richard commented on #125
Fixed in [429](https://github.com/learningequality/ka-lite-installers/pull/429)

[2017-02-03 05:52] #125 closed

[2017-02-03 05:53] mrpau-richard commented on #98
Fixed in [429](https://github.com/learningequality/ka-lite-installers/pull/429)

[2017-02-03 05:55] mrpau-richard commented on #98
@benjaoming Yeah, We're now using PEX in KA Lite OS X installer closing this issue.

[2017-02-03 05:55] #98 closed

[2017-02-03 05:59] mrpau-richard commented on #417
@benjaoming I agree and I will close it.

[2017-02-03 05:59] #417 closed

[2017-02-03 12:03] benjaoming commented on #341
@radinamatic did this ever get implemented?

[2017-02-08 11:43] radinamatic commented on #341
No, not that I recall @benjaoming!

[2017-02-13 04:17] mrpau-richard commented on #351
Fixed in #439

[2017-02-20 18:09] benjaoming opened #440 "Start-up script `/etc/init.d/ka-lite` does not get added to default runlevels"
## Summary

I haven't verified this issue on Debian, but on the latest Raspbian based on Debian Jessie, the start-up script does not run at bootup.

Running `sudo update-rc.d ka-lite defaults` has no effects, apparently the old script is a noop.

## Workaround

Non at the moment...

## Version

Any .deb installer on Raspbian.

## Traceback

[code]

[2017-03-03 08:57] mrpau-richard commented on #29
Hi @EdDixon I can't reproduce this issue in 0.17 KA Lite windows installer. I'm closing this.

[2017-03-03 08:57] #29 closed

[2017-03-30 12:16] benjaoming opened #444 "Tests for Zesty Zapus"
## Summary

Since 16.10, systemd has been both for system and user sessions (startup applications etc). No more upstart.

We've fixed #440 and as of now, released it in ka-lite-proposed

I think we should test our installers for 17.04 already, so we know if we're good.

@radinamatic - would you be able to do this?

[2017-04-03 22:15] benjaoming opened #445 "KA-Lite High CPU Usage on Mac OSX Sierra"
_From @andydupont on March 23, 2017 15:13_

## Summary

KA-Lite is contantly using large CPU % when started but idle

## System information

 - Operating system: Mac OSX Sierra (10.12.3)
 - Version: 0.17
 - Browser: N/A

## How to reproduce

1. Start KA-Lite App
2. Open Activity Monitor and sort on % CPU

## Screenshots
<img width="941" alt="screen shot 2017-03-23 at 10 50 40 am" src="https://clou

[2017-04-03 22:15] benjaoming commented on #445
_From @radinamatic on March 23, 2017 15:23_

@andydupont Thanks for reporting!

@mrpau-dev I will not have access to Mac machine until next week, to try and repro this issue, will you maybe be able to try it out before then?

[2017-04-03 22:15] benjaoming commented on #445
_From @andydupont on March 23, 2017 15:36_

@radinamatic @mrpau-dev Here is another screenshot that shows that KA-Lite's parent process is Launchd, and Launchd's parent process is kernel_task.

the kernal_task is consuming a lot of memory and has a lot of disk activity.

## Screenshot
<img width="1157" alt="screen shot 2017-03-23 at 11 28 43 am" src="https://cloud.githubusercontent.com/assets/7741

[2017-04-03 22:15] benjaoming commented on #445
I've encountered this, too, on a friend's Mac. Wasn't able to investigate back then, but it's about time, we investigate it. Thanks for the report @andydupont!

@andydupont Would you be able to install ka-lite from pip? It's to see if the problem is related to the installer and task tray application or the source distribution itself (this repository concerns the source distribution). You can unins

[2017-04-03 22:15] benjaoming commented on #445
_From @mrpau-richard on March 30, 2017 12:42_

I also reproduced this issue, I think it's the KA Lite  application itself has a problem with CPU usage, we will investigate on it.

[2017-04-03 22:15] benjaoming commented on #445
_From @andydupont on March 30, 2017 14:12_

From @benjaoming

Ben... I will do this, but may not get to it until next week.

Thanks to all for looking into this.

[2017-04-03 22:15] benjaoming commented on #445
_From @andydupont on April 3, 2017 21:50_

From @benjaoming

Ben.... I uninstalled ka-lite and reinstalled from pip. The problem went away. So I think that means that the problem is with the source distribution.... correct?

[2017-04-07 09:15] benjaoming opened #446 "KA-lite for mac uninstall and now not allowing clean install"
_From @kevhyde on April 7, 2017 4:39_

## Summary

*I am not experienced in programming. I installed KA lite on my mac today and got it working as far as the questions and user accounts etc. I could not show ka lite where my compressed downloaded videos were by scanning. Nothing was being found. I could not see the .kalite folder and tried to show a new data file location in preferences so I could

[2017-04-07 09:16] benjaoming commented on #446
@kevhyde thanks for reporting this - I've moved it to our installers repository.

I can't tell for sure what can cause the installer to fail, maybe @mrpau-eduard @mrpau-richard can suggest to remove some additional artifacts from the old installation which can block a fresh install?

[2017-04-07 09:58] mrpau-eduard commented on #446
Hi @kevhyde you can download this file [ka-lite-remover.sh](https://github.com/learningequality/ka-lite-installers/blob/master/osx/ka-lite-remover.sh) then run it on your machine.
Steps to run this script:

This script will remove all the dependencies of the old KA-Lite installation.
You need to run this script to remove the `*.plist`, `kalite` executable and the kalite resources.

[2017-04-08 02:28] kevhyde commented on #446
Thanks for your help. Sorry but I'm not that experienced in this kind of programming. Can I just double check the process you've outlined above? To download the ka-lite-remove.sh do I just copy and paste the lines of code? Then copy them into terminal?

I just can't see where I can download a script file or something. If you could explain it in real dummies language that would be appreciated as th

[2017-04-08 08:32] radinamatic commented on #446
Hi @kevhyde!  :slightly_smiling_face:

1. Right-click (or was it `Option`+ click on Mac?) this link [ka-lite-remover.sh](https://github.com/learningequality/ka-lite-installers/blob/master/osx/ka-lite-remover.sh) and choose `Save (link) as` to download the `ka-lite-remover.sh` script file to, let's say, your **Desktop**.
2. Open Terminal.
3. Type `cd Desktop` and press `Enter`.
4. Type `bash ka-lit

[2017-04-09 17:01] benjaoming commented on #446
@mrpau-eduard what needs to be done for the Mac installer automatically perform various steps pf `ka-lite-remover.sh` during uninstallation (except user data)?

[2017-04-09 18:54] kevhyde commented on #446
Hi guys, thanks very much for your help. That has@radinamatic that has worked thanks and now I have ka lite installed, have changed my contents folder location and added torrented videos and it's all running. This is a great system of learning that you've been creating here, thanks very much. Kevin

[2017-04-10 09:32] radinamatic commented on #446
@kevhyde Glad it helped... 🙂
Have fun using KA Lite!!!

Cheers!

[2017-04-10 09:52] benjaoming commented on #446
Cool, let's keep the issue open until @mrpau-eduard or @mrpau-richard can tell if the Mac Installer uninstallation can be modified easily so this doesn't happen to others ?

[2017-04-10 12:16] benjaoming commented on #351
Reopening since #439 hasn't been merged or released.

[2017-04-10 12:56] radinamatic commented on #444
Tested on Ubuntu 16.10, with installer [ka-lite-bundle_0.17.0-0ubuntu2_all.deb](https://launchpad.net/~learningequality/+archive/ubuntu/ka-lite-proposed/+files/ka-lite-bundle_0.17.0-0ubuntu2_all.deb)

However, server is not starting at reboot:

![virtualbox_ubuntu 16 10_10_04_2017_14_21_48](https://cloud.githubusercontent.com/assets/1457929/24862548/54c190e6-1dfd-11e7-9a1e-49fbeba5098b.png)

![vir

[2017-04-10 14:38] benjaoming commented on #444
@radinamatic I'll get 16.10 running on a virtualbox and see what that's about.

[2017-04-10 23:52] cpauya commented on #446
Hi @benjaoming - I did a back-read and it seems that Kevin did not do a clean uninstall as we documented at  [Uninstallation of the installed KA Lite package.](https://github.com/learningequality/ka-lite-installers/tree/master/osx#uninstallation-of-the-installed-ka-lite-package).

Here's what he did:

I don't know if the "terminal commands" he mentioned were the ones in `ka-lite-remover.sh`.

The

[2017-04-11 00:25] kevhyde commented on #446
Hi there, no you’re right. Initially I ran a couple of terminal commands I found in forums that deleted some things but I still couldn’t install ka lite again.

Then I used the ka-lite-remover.sh script you guys suggested and it worked for me and allowed a reinstall without problem.

I think the problem was that I’d deleted the application folder as you’ve suggested and then I couldn’t do a proper

[2017-04-11 00:32] cpauya commented on #446
Thanks for verifying and I'm glad to hear it's working-out good for you @kevhyde.

I'm closing this now. 😸

[2017-04-11 00:32] #446 closed

[2017-04-11 09:45] benjaoming commented on #446
Just to understand you clearly: If a user drags KA Lite to Trash (the conventional uninstall), will things break or not?

[2017-04-11 09:48] benjaoming commented on #446
I can see that it's part of the official docs: http://ka-lite.readthedocs.io/en/develop/installguide/install_all.html#mac-osx  -- strange link, should probably separate the uninstall guides - this for now this *is* the link to the UNinstall :)

[2017-04-11 10:05] mrpau-eduard commented on #446
Hi @benjaoming

Yes it is, It will break the uninstallation process.
Using the `KA-Lite_Uninstall.tool` will do the following:

1. Unset the environment variables: KALITE_PYTHON and KALITE_HOME.
2. Remove the .plist and preferences files, kalite executable and the ka-lite resources.
3. When run stand-alone, it confirms removal of the KA-Lite data directory as specified by the KALITE_HOME env var.

[2017-04-11 10:07] mrpau-eduard commented on #446
The installation process for the `Mac OSX` is outdated it should be updated. We will update it. Thank you for noticing it.

[2017-05-03 06:44] mrpau-eugene commented on #389
@mrpau-richard is this still a valid issue that needs to be fixed?

[2017-05-03 10:43] benjaoming commented on #444
Seems everything is fine with the latest 0.17.0-0ubuntu3 - which incidentally also contained a systemd fix, see #443

[2017-05-03 10:43] #444 closed

[2017-05-03 12:35] benjaoming commented on #440
Confirmed on Ubuntu 16.10

While systemd script is running `systemctl start ka-lite` just fine, the links created by `update-rc.d` do not seem to start.

The startup links are created correctly:

[code]

But again, something is wrong with the systemd compatibility:

[code]

Running the script directly from `/etc/init.d/ka-lite` seems to work, so it could be that somehow our script or systemd doesn

[2017-05-03 14:29] radinamatic commented on #444
I tried again on Ubuntu 16.10 (latest with all the updates), with installer `ka-lite-bundle_0.17.0-0ubuntu3_all.deb`, but the server is still not starting at reboot.

![virtualbox_ubuntu 16 10_03_05_2017_15_57_13](https://cloud.githubusercontent.com/assets/1457929/25664732/ced7a6ce-301b-11e7-8c6f-0ae58a648606.png)

![virtualbox_ubuntu 16 10_03_05_2017_16_12_03](https://cloud.githubusercontent.com/

[2017-05-03 14:34] benjaoming commented on #440
Seems like the problem could be a missing `WantedBy` section. We need to retain backwards compatibility so replacing `update-rc.d` with `systemctl enable` is not the entire solution...

[code]

[2017-05-03 18:25] benjaoming commented on #444
@radinamatic sorry I didn't properly explain. #440 is still open and that part is still broken. There's more explanation in that issue.

You can still start ka-lite with both `sudo service ka-lite start` and `sudo systemctl start ka-lite.service`

[2017-05-03 20:25] benjaoming commented on #440
Adding the following to the system.d service script work with `systemctl enable`...

[code]

...however since `update-rc.d ka-lite` still add it to startup runlevels, we will have to issue both commands, regardless of whether they succeed (`systemctl` isn't available on 14.04)

[2017-05-04 02:50] mrpau-richard commented on #389
@mrpau-eugene Yeah, this issue still valid to be fix during the installation of `.pkg` KA Lite mac installer.

[2017-05-04 10:21] cpauya commented on #389
I don't understand how this can be implemented at all.  A user will download an installer which will now come in `.dmg` format.  So I'm not sure how this will become an issue now.

@mrpau-richard Can you explain what you want to achieve on this issue?

[2017-05-04 11:01] radinamatic commented on #444
Starting it from terminal is not a problem, even simple `kalite start` works:

![virtualbox_ubuntu 16 10_04_05_2017_12_53_20](https://cloud.githubusercontent.com/assets/1457929/25700623/c448c64a-30c8-11e7-969d-6d2da3e0f5f5.png)

Maybe I'm not getting the real purpose of having a system service... 🤔
My understanding was that the main benefit was so KA Lite could run from boot/startup, but if that's

[2017-05-04 11:02] benjaoming commented on #389
As I understand these search results, verification of a .pkg in a .dmg is automatic?

https://encrypted.google.com/search?num=30&hl=en&q=mac+skip+verifying

[2017-05-04 11:46] mrpau-richard commented on #389
@cpauya I think this issue can't be reproduced if the .pkg installer is inside the .dmg file. Because if the dmg is corrupted and there's no way we can run the .pkg installer.

I think this issue is already fixed.

[2017-05-04 12:47] benjaoming commented on #389
Let's go with that, and reopen if someone can reproduce with a broken .dmg

If you wanna test it, you can just corrupt the .dmg

https://unix.stackexchange.com/questions/222359/how-to-corrupt-an-archive-file-in-a-controlled-way

[2017-05-04 12:47] #389 closed

[2017-05-05 12:21] benjaoming commented on #444
@radinamatic I can't work with the differences caused by systemd and explain them to users. Luckily, `service ka-lite` is still functional on systemd 15.04+ systems afaik.

I'll fix the startup script and leave the texts unchanged ;)

The purpose of having a system service, is so things get started and stopped when the system boots and shuts down.

[2017-05-05 13:01] radinamatic commented on #444
Ok, so I wasn't so far off base after all... 😛

If the startup script is fixed, no need to change the text! 😉

[2017-05-05 14:37] benjaoming commented on #440
Fixed in #450 - releases in 0.17.1

[2017-05-05 14:37] #440 closed

[2017-05-08 09:30] benjaoming commented on #426
To avoid similar future blunders, this was fixed in #448 and released in 0.17.1 - thanks @julianharty for reporting this!

[2017-05-08 09:30] #426 closed

[2017-05-08 09:30] benjaoming commented on #445
Fixed in #447 and released in 0.17.1

[2017-05-08 09:30] #445 closed

[2017-05-08 09:34] benjaoming commented on #149
We have moved to BuildKite, closing this until it becomes a priority again. I don't have issues building source packages and uploading locally, since this is the only Workflow that makes sense when fixing issues in the Debian installer. We don't need lots of automated builds for Debian, because development pace of KA Lite has slowed down.

[2017-05-08 09:34] #149 closed

[2017-05-08 09:36] benjaoming commented on #272
Closing this because of missing feedback - if we have to work out these issues, we would need to chunk them up into separate workable smaller issues.

CC: @mrpau-eduard @mrpau-richard @cpauya

[2017-05-08 09:36] #272 closed

[2017-05-08 09:39] benjaoming commented on #168
This will be fine, but the Kolibri installer should probably have i18n.

Created https://github.com/learningequality/kolibri-installer-osx/issues/1

CC: @mrpau-eduard @mrpau-richard @cpauya

[2017-05-08 09:39] #168 closed

[2017-05-08 09:42] benjaoming opened #452 "Symlinking .kalite folder breaks Nginx configuration"
## Summary

Quite a common use case:

 1. User has no space on device with `~/.kalite`
 1. Creates a symlink to an external drive
 1. Nginx refuses to read files because of permission stuff

Needs more investigation, but the fix will be to allow this sort of stuff through the Nginx config.

## Version

 - Installer: Debian
 - Version: 0.16+

[2017-05-09 15:40] benjaoming commented on #193
The Android app is not going to receive any further updates at present. Closing this, and if work is going to pick up again, there's been a significant amount of changes to KA Lite and Python packaging for Android in general, so we probably would have to restart everything anyways.

[2017-05-09 15:40] #193 closed

[2017-05-10 23:55] cpauya commented on #272
A lot has happened to the Application UI and functionality since this issue was reported.

So yes @benjaoming, let's close this and open specific issues as they emerge.

[2017-05-16 09:57] benjaoming opened #453 "KA Lite doesn't start on Windows 10 - python crashes"
## Summary

We have 2 different issues on the Community Forum, however they could both be related to process crashes?

1. https://community.learningequality.org/t/ka-lite-server-doesnt-starts-on-windows-10/249
1. https://community.learningequality.org/t/hello-im-new-to-ka-lite-and-need-help-setting-it-up/246

The first issue makes it somewhat evident that

## Version

 - Installer: Windows
 - Vers

[2017-05-17 01:42] mrpau-richard commented on #453
I can't reproduce this issue in windows 10 64 bit VM using [KA Lite 0.17.1](http://pantry.learningequality.org/downloads/ka-lite/0.17/installers/windows/KALiteSetup-0.17.1.exe) release installer.
![screen shot 2017-05-17 at 9 32 08 am](https://cloud.githubusercontent.com/assets/8663934/26134919/89adfb42-3ae4-11e7-9bd9-a2147978b744.png)

![screen shot 2017-05-17 at 9 33 02 am](https://cloud.githubu

[2017-05-17 10:51] radinamatic commented on #453
I'm also unable to reproduce these issues on vanilla Win10 VM: no error messages, no blocked processes, no apparent memory leaks... 😞

Without some additional input from the system where this occurs, not sure how to proceed debugging.

![virtualbox_msedge - win10_preview_17_05_2017_12_49_42](https://cloud.githubusercontent.com/assets/1457929/26150635/87e30094-3aff-11e7-81a6-bbd3b0e40106.png)

[2017-06-01 07:03] mrpau-richard opened #455 "Create a logging UI in KA Lite windows application"
## Summary

[2017-06-06 11:45] benjaoming commented on #453
Another report:

https://community.learningequality.org/t/python-exe-has-stopped-working/253

[2017-06-06 11:46] benjaoming commented on #453
Added this FAQ entry:

https://github.com/learningequality/ka-lite/pull/5470

Is it possible that all these reports are caused by a wrong/broken Python installation?

[2017-06-06 11:49] benjaoming opened #456 "Windows 10: Static assets are not consistently collected during installation"
## Summary

We had a couple of reports of the same issue, seems to be Windows 10 specific?

https://community.learningequality.org/t/ka-lite-doesnt-serve-javascript-assets-in-windows-10/246/8

## Version

 - Installer: Windows 10
 - Version: 0.17.0 - 0.17.1

## Screenshots

![blah](https://community.learningequality.org/uploads/default/optimized/1X/bd3021e8e2e381001df63c290feb2b1a4c438430_1_690x38

[2017-06-07 15:07] radinamatic commented on #453
I found no way to replicate this particular issue on any W10 VM I worked so far, and felt wretchedly useless... 😞

However, after reading the post on the forum, I'm so happy @benjaoming nailed it, and received some very deserved love from a frustrated user at the end... 👍

Way to go, Ben!

[2017-06-08 06:06] #351 closed

[2017-06-08 14:23] #131 closed

[2017-06-08 14:36] benjaoming commented on #453
Yeah, I guess we have no conclusive evidence.

Can you Windows experts think of a reason that several Windows 10 users would end up with a broken/32 bit Python 2.7 installation in cases where they should've had a 64 bit? Like, why would reinstalling Python fix things? Are we suggesting a broken Python during the setup?

[2017-06-08 14:37] benjaoming commented on #456
There's a pretty good reason over in the community forum, quoting it here:

[2017-06-15 07:18] mrpau-richard commented on #456
Hi @benjaoming I've difficulty to reproduce this issue in Win 10 pro & Win 10 enterprise 64 bit, Using [KA Lite windows installer 0.17.1](http://pantry.learningequality.org/downloads/ka-lite/0.17/installers/windows/KALiteSetup-0.17.1.exe). The kalite data and python installed path is also in the system drive (C:) and I haven't encountered any issue.

[2017-06-15 09:41] benjaoming commented on #456
@mrpau-richard

From Aditya's message:

I'm not sure of the exact messages, but is it possible to tweak the first one to say for instance "The server is now starting, please wait to be notified..." so the user knows another message is coming?

[2017-06-15 09:45] radinamatic commented on #456
@benjaoming Good suggestion, it might clarify a bit the steps for the user! 🙂

[2017-06-16 06:27] #455 closed

[2017-06-16 08:36] mrpau-richard opened #459 "Allow user to import KA Lite database during upgrade process"
## Summary

[2017-07-03 10:15] mrpau-richard commented on #296
@radinamatic I think it's not an issue either the user installed python 3.5 because the KA Lite application will use the KALITE_SCRIPT_DIR environment as variable python path.

I also tested that installing python 3.5 and python 2.7 will not having any issue as @EdDixon reported.

[2017-07-06 19:26] radinamatic commented on #296
Way to dig ghosts from the past... :smile:

I installed Python 3.6.1 and added its env var to path, *prior* to installing KA Lite. Server is running OK, as `KALITE_SCRIPT_DIR` and `KALITE_PYTHON` must be doing their work.

![win8 1 start running - oracle vm virtualbox_310](https://user-images.githubusercontent.com/1457929/27928973-7ee384e6-6291-11e7-8ffa-e6093f6c992c.png)

Closing this as not exta

[2017-07-06 19:26] #296 closed

[2017-07-31 16:42] benjaoming opened #464 "Move python-pkg-resources from Pre-Depends to Depends?"
## Summary

As reported by @radinamatic, Xubuntu no longer ships with `python-pkg-resources`, which prevents a clean `dpkg -i` installation.

So either it's possible to have the dependency as a soft dependency, or we should stop telling people to invoke `dpkg` and instead run other tools that handle dependency resolution like `gdebi`.

## Version

 - Installer: Debian (Xubuntu)
 - Version: 0.17.3

[2017-08-16 02:38] fhenson1 opened #465 "•LOCKDOWN = <True or False> (default = False)"
## Summary

I made the change in  c:\Users\myname\.kalite\settings.py (2.7.10)

LOCKDOWN = TRUE

and saved the file.

When I try to start kalite it will not start. The python program is not running and will not start.  If I delete
LOCKDOWN = TRUE
the program starts and runs okay.

Below is the file:

# This is the default location where the kalite command finds its settings
# You can change the be

[2017-08-16 08:02] mrpau-richard commented on #465
@fhenson1 Try set `True` not all uppercase `TRUE`

`LOCKDOWN = True`

[2017-08-16 14:39] fhenson1 commented on #465
Richard lower case True worked.

[2017-08-16 14:39] #465 closed

[2017-08-16 14:59] fhenson1 commented on #465
Thanks for your help.  Lowercase solved the problem.

From: Richard T. Amodia [mailto:notifications@github.com]
Sent: Wednesday, August 16, 2017 3:02 AM
To: learningequality/ka-lite-installers
Cc: fhenson1; Mention
Subject: Re: [learningequality/ka-lite-installers] •LOCKDOWN = <True or False> (default = False) (#465)

@fhenson1 <https://github.com/fhenson1>  Try set True not all uppercase TRUE

LO

[2017-08-22 05:54] mrpau-eugene opened #466 "Error encountered when running build.sh for MacOS"
## Summary

I was following the documentation for building the MacOS Installers but I encountered a problem after running `build.sh`

## Version

 - Installer: OSX
 - Version: 0.17.x

## Traceback or server.log snippet

[code]

## Errors inside .npm/_logs/
[code]
## How to reproduce

1. Follow the **Getting Started** guide [here](https://github.com/learningequality/ka-lite-installers/tree/master/o

[2017-08-22 06:18] mrpau-eugene commented on #466
Seems that using `npm` version 5 causes this error. Downloaded version 3 instead. Closing this now.

[2017-08-22 06:18] #466 closed

[2017-09-12 03:10] mrpau-eugene opened #468 "Windows 10 (Command Prompt)"
## Summary

I've experienced this like around 2-3 times when I installed KA-Lite on Windows 10. The command prompt seems to wait for the `return` key in order to execute the next command or to proceed with the installation.

Maybe this is one reason why javascript assets aren't being loaded properly?

I think we should hide the command prompt from the users, the same with `Kolibri` installer.

[2017-09-16 16:59] fhenson1 opened #469 "error:Enviroonmental variable KALITE_SCRIPT_DIR is not set"
After several months of running Kalite on a HP laptop all of a sudden the program will not start and gets this message:

error:Enviroonmental variable KALITE_SCRIPT_DIR is not set

 - Installer: Windows 10
 - Version: 0.17.0

![kalite error message](https://user-images.githubusercontent.com/16634150/30514211-1df77840-9ad6-11e7-8a13-87b02d228c1e.JPG)

The laptop is in a school in India and I am in

[2017-09-18 00:31] mrpau-richard commented on #469
Hi @fhenson1 can you try to reinstall the KA Lite to set the `KALITE_SCRIPT_DIR` environment variable.

[2017-09-18 03:03] fhenson1 commented on #469
Do you think this is a Python problem or Kalite problem?

From: Richard T. Amodia [mailto:notifications@github.com]
Sent: Sunday, September 17, 2017 7:32 PM
To: learningequality/ka-lite-installers
Cc: fhenson1; Mention
Subject: Re: [learningequality/ka-lite-installers] error:Enviroonmental variable KALITE_SCRIPT_DIR is not set (#469)

Hi @fhenson1 <https://github.com/fhenson1>  can you try to rein

[2017-09-18 03:32] mrpau-richard commented on #469
@fhenson1 I think it's KA Lite application problem, because it need the `KALITE_SCRIPT_DIR ` environment variable which pointed to `x\Python27\scripts` path.

[2017-09-18 04:05] fhenson1 commented on #469
Thanks

I will have them try to reinstall Kalite from the application file.

From: Richard T. Amodia [mailto:notifications@github.com]
Sent: Sunday, September 17, 2017 10:33 PM
To: learningequality/ka-lite-installers
Cc: fhenson1; Mention
Subject: Re: [learningequality/ka-lite-installers] error:Enviroonmental variable KALITE_SCRIPT_DIR is not set (#469)

@fhenson1 <https://github.com/fhenson1>  I

[2017-10-23 18:59] benjaoming opened #470 "Installing with Homebrew python fails"
_From @commitay on October 5, 2017 2:50_

## Summary

Since https://github.com/Homebrew/homebrew-core/pull/14408, Homebrew `python` doesn't have a `/usr/local/bin/python`. This causes the `KA-Lite.pkg` install to fail.

## System information

*Please specify the KA Lite version you were using and your operating system!*

 - Operating system: macOS 10.13
 - Version: 0.17.3
 - Browser: Chrome

[code

[2017-10-23 18:59] benjaoming commented on #470
_From @cpauya on October 5, 2017 3:5_

Thanks for the report @commitay.  Just a reminder that KA-Lite needs Python 2.7.11+ -- so that message can also mean your Mac's Python version is not 2.7.11+.  Though I must admit that a fresh `brew install python` should've installed version higher than 2.7.11.

I just tried `python -V` on my fresh macOS High Sierra 10.13 and it shows `Python 2.7.10` (the de

[2017-10-23 18:59] benjaoming commented on #470
_From @commitay on October 5, 2017 3:20_

Sorry, I'm actually on 10.13 as well.

[code]
[code]

[2017-10-23 18:59] benjaoming commented on #470
_From @cpauya on October 5, 2017 3:49_

Thanks for the quick response.  These are helpful.

Yes indeed it seems the KA-Lite installer is picking-up the default macOS Python version instead of  the `brew` version.

Hopefully @mrpau-richard can take a look at this for a fix soon.  Maybe we can use `python2` instead of just `python`?

[2017-11-10 07:55] mrpau-richard commented on #470
Fixed in [471](https://github.com/learningequality/ka-lite-installers/pull/471) closing this.

[2017-11-10 07:56] #470 closed

[2017-11-10 21:54] benjaoming opened #472 "Windows installation oddly slow?"
## Summary

We have had several reports of slow installations.

Is it because the installation is indeed too slow or because users are missing feedback while some slow process is ongoing?

Windows 8, 0.17.3 report https://github.com/learningequality/ka-lite/issues/5526:

## Version

 - Installer: Windows 8 and 10
 - Version: 0.17.?

[2017-11-10 21:55] benjaoming commented on #385
@mrpau-richard is this still relevant?

[2017-11-12 18:09] benjaoming commented on #453
Another flavor:
https://github.com/learningequality/ka-lite/issues/5535

According to report's `server.log`, it might be freezing while running migrations, but needs to be verified. Have requested for the issue to be moved to community forums.

[2017-11-13 00:58] mrpau-eugene commented on #453
@benjaoming I thought it was just me but when I try to install KA-Lite on a Windows 10 VM, it sometimes freezes. And when I press the `Enter` key, it proceeds to the next step.

[2017-11-13 08:39] benjaoming commented on #453
@mrpau-eduard it seems this issue happens after installation is complete but at the first start-up?

[2017-11-13 08:42] benjaoming commented on #372
Neds more information and tests with other anti-virus programs...

[2017-11-14 10:23] mrpau-richard commented on #372
I tested the kalite 0.16 windows installer downloaded at [pantry](http://pantry.learningequality.org/downloads/ka-lite/0.16/installers/windows/KALiteSetup-0.16.0.exe) and the antivirus did not detect the kalite executable in auto-quarantine during the installation.
I used these ativirus to try to reproduce this issue:
Bitdefender free edition.
Windows 10 64 bit.
![screen shot 2017-11-14 at 5 35 34

[2017-11-14 15:27] benjaoming commented on #372
@mrpau-richard that's nice!

Can you re-produce the issue with an unsigned installer?

In case not, let's close this and move on :)

[2017-11-15 08:12] mrpau-richard commented on #372
@benjaoming I can't even re-produce this issue in the unsigned installer.
I think with the updated version of antivirus this issue can't be reproduced.
![screen shot 2017-11-15 at 3 59 37 pm](https://user-images.githubusercontent.com/8663934/32825194-fc929ad6-ca1e-11e7-9932-99318b894801.png)

Closing this.

[2017-11-15 08:12] #372 closed

[2017-11-15 13:34] benjaoming commented on #372
Yup, sounds good, thanks for looking into this!

[2017-12-01 15:33] benjaoming opened #474 "KA Lite states file is persistent in /tmp, should be purged when starting setup"
## Summary

Should add a call to `rm_states` because the file might be left behind after installing

It's not currently causing any breakage, but it likely does somehow affect behavior, but haven't really debugged it.

## Version

 - Installer: Debian
 - Version: 0.17.x

[2018-05-08 03:18] mrpau-richard opened #475 "Kalite and Kolibri Will no longer run on the same Windows 10 computer"
Reported by @fhenson1 at [#5571](https://github.com/learningequality/ka-lite/issues/5571)

[2018-05-23 20:49] mrpau-richard commented on #475
Fixed at [#68](https://github.com/learningequality/kolibri-installer-windows/pull/68), closing this.

[2018-05-23 20:49] #475 closed

[2022-09-24 05:43] EdDixon commented on #106
Ah, the good old days :) assuming there are no objections, closing.

[2022-09-24 05:43] #106 closed

[2022-09-24 18:30] benjaoming commented on #106
Greetings @EdDixon :wave: :heart_eyes: